<footer class="true-dark">
	<div class="wrapper">
		<div id="copyright">
			<img src="{{ .path }}assets/logos/uxph_logo.svg" id="footer-logo" />
			<br/>
			<p>Email: <span class="blue">info@uxph.org</span></p>
			<p>&copy; Copyright 2019.<br/>All Rights Reserved.</p>
			<a href="/code-of-conduct">
				<p class="blue">View Code of Conduct</p>
			</a>
		</div>
		<div id="social-media">
			<h3>Connect with us</h3>
			<div class="column-content">
				<div>
					<div class="content-wrapper">
						<a href="https://www.facebook.com/UXPhilippines" target="_blank">
							<div>
								<img src="{{ .path }}assets/icons/ic_facebook.png" class="ic" />
								<h5>Facebook Page</h5>
							</div>
						</a>
						<!--<a href="https://www.facebook.com/UXPhilippines" target="_blank">www.facebook.com/UXPhilippines</a>-->
					</div>
					<div class="content-wrapper">
						<a href="https://www.facebook.com/groups/uxphilippines" target="_blank">
							<div>
								<img src="{{ .path }}assets/icons/ic_facebook.png" class="ic" />
								<h5>Facebook Group</h5>
							</div>
						</a>
						<!--<a href="https://www.facebook.com/groups/uxphilippines" target="_blank">www.facebook.com/groups/uxphilippines</a>-->
					</div>
				</div>
				<div>
					<div class="content-wrapper">
						<a href="https://www.twitter.com/UXPH_" target="_blank">
							<div>
								<img src="{{ .path }}assets/icons/ic_twitter.png" class="ic" />
								<h5>Twitter</h5>
							</div>
						</a>
						<!--<a href="https://www.twitter.com/UXPH_" target="_blank">www.twitter.com/UXPH_</a>-->
					</div>
					<div class="content-wrapper">
						<a href="https://www.linkedin.com/company/uxph/about/" target="_blank">
							<div>
								<img src="{{ .path }}assets/icons/ic_linkedin.png" class="ic" />
								<h5>Linkedin</h5>
							</div>
						</a>
						<!--<a href="https://www.linkedin.com/company/uxph/about/" target="_blank">https://www.linkedin.com/company/uxph</a>-->
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>

<div id="back-to-top" class="hide">
	<i class="fa fa-arrow-up"></i>
</div>
