<footer>
    <div class="wrapper">
        <div id="copyright">
            <img src="{{ .path }}assets/logo/uxph_logo.svg" id="footer-logo" />
            <br/>
            <p>Email: <span class="blue">community@uxph.org</span></p>
            <p>&copy; Copyright 2020.<br/>All Rights Reserved.</p>
            <a href="/code-of-conduct">
                <p class="blue" id="coc">View Code of Conduct</p>
            </a>
        </div>
        <div id="social-media">
            <h3>Connect with us</h3>
            <div class="column-content">
                <div>
                    <div class="content-wrapper">
                        <div>
                            <img src="{{ .path }}assets/icons/ic_facebook.png" class="ic" />
                            <h5>Facebook Page</h5>
                        </div>
                        <a href="https://www.facebook.com/UXPhilippines" target="_blank">https://facebook.com/UXPhilippines</a>
                    </div>
                    <div class="content-wrapper">
                        <div>
                            <img src="{{ .path }}assets/icons/ic_facebook.png" class="ic" />
                            <h5>Facebook Group</h5>
                        </div>
                        <a href="https://www.facebook.com/groups/uxphilippines" target="_blank">https://facebook.com/groups/uxphilippines</a>
                    </div>
                </div>
                <div>
                    <div class="content-wrapper">
                        <div>
                            <img src="{{ .path }}assets/icons/ic_instagram.png" class="ic" />
                            <h5>Instagram</h5>
                        </div>
                        <a href="https://instagram.com/uxphofficial" target="_blank">https://instagram.com/uxphofficial</a>
                    </div>
                    <div class="content-wrapper">
                        <div>
                            <img src="{{ .path }}assets/icons/ic_twitter.png" class="ic" />
                            <h5>Twitter</h5>
                        </div>
                        <a href="https://twitter.com/uxphofficial" target="_blank">https://twitter.com/uxphofficial</a>
                    </div>
                </div>
                <div>
                    <div class="content-wrapper">
                        <div>
                            <img src="{{ .path }}assets/icons/ic_linkedin.png" class="ic" />
                            <h5>LinkedIn</h5>
                        </div>
                        <a href="https://www.linkedin.com/company/uxph/" target="_blank">https://www.linkedin.com/company/uxph/</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
