<!-- device viewport -->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- SEO meta tags -->
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<meta developer="Mike Jaren Yap" site="https://mjarenyap.github.io">
<meta name="og:type" content="website" />
<meta name="og:url" content="http://www.uxphilippines.com/" />
<meta name="og:image" content="featured-img.png" />
<meta name="og:site_name" content="UXPH Conference 2019" />
<meta name="og:description" content="UXPH2019 Design Conference is a collaborative conference that showcases the possible applications of Design Thinking in technology, business, health, government, and many other fields. It brings together design professionals, UX practitioners, and design stakeholders of these sectors to participate in a dialogue on how Design Thinking can be applied and how it can benefit The Philippines." />
<meta name="fb:page_id" content="314394185432326" />
<meta name="twitter:card" content="featured-img.png" />
<meta name="twitter:site" content="@uxphilippines" />
<meta name="twitter:title" content="UXPH Conference 2019" />
<meta name="twitter:description" content="UXPH2019 Design Conference is a collaborative conference that showcases the possible applications of Design Thinking in technology, business, health, government, and many other fields. It brings together design professionals, UX practitioners, and design stakeholders of these sectors to participate in a dialogue on how Design Thinking can be applied and how it can benefit The Philippines." />
<meta name="twitter:creator" content="@uxphilippines" />
<meta name="twitter:image:src" content="featured-img.png" />
<meta name="description" content="UXPH2019 Design Conference is a collaborative conference that showcases the possible applications of Design Thinking in technology, business, health, government, and many other fields. It brings together design professionals, UX practitioners, and design stakeholders of these sectors to participate in a dialogue on how Design Thinking can be applied and how it can benefit The Philippines." />

<!-- stylesheets & webfonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto:300,500" rel="stylesheet" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />
<link rel="stylesheet" type="text/css" href="{{ .path }}css/main.css" />

<!-- javascript -->
<script src="{{ .path }}js/jquery-3.3.1.js" type="text/javascript"></script>
<script src="{{ .path }}js/team.js" type="text/javascript"></script>
<script src="{{ .path }}js/nav.js" type="text/javascript"></script>
