<section id="modal-overlay">
    <img src="../assets/icons/close.svg" id="modal-close" width="20" />
    <div id="modal-container" class="border-radius-12 shadow bg-white padding-x-24 padding-y-24 width-640 mx-auto margin-y-64">
        <div class="featured-image bg-secondary mx-auto margin-bottom-16" style="background: url(../{{ .image_url }}); background-position: center; background-size: cover;">
        </div>
        <div>
            <div>
                <h2 class="blue text-center" id="modal-name">Aldrich Tan</h2>
                <p class="red text-center margin-bottom-24" id="modal-position">Managing Director</p>
                <p class="text-center">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>
    </div>
</section>
