<!-- Navigation of the website -->
<nav id="main-nav" class="bg-white">
	<div class="wrapper d-flex justify-content-between align-items-center">
		<a href="/" class="d-flex align-items-center">
			<img src="{{ .path }}assets/logos/uxph_logo.svg" id="nav-logo" />
		</a>
		<ul>
			<a href="/"><li>Home</li></a>
			<a href="/about"><li>About Us</li></a>
			<a href="/events"><li>Events</li></a>
			<a href="/sponsorships"><li>Get Involved</li></a>
			<a href="/volunteers"><li>Volunteers</li></a>
			<a href="/faq"><li>FAQ</li></a>
		</ul>
	</div>
</nav>