{{< twitter >}}
<div class="embed_tweet">
<blockquote class="twitter-tweet" data-conversation="none" data-dnt="true"><p lang="en" dir="ltr">Dae explains how behaviors can be changed by the following factors : Motivation, Ability, and Trigger, and how these relate to different UX methods. <a href="https://twitter.com/hashtag/UXPHRoadshow?src=hash&ref_src=twsrc%5Etfw">#UXPHRoadshow</a> <a href="https://twitter.com/hashtag/UXPHRoadshowCEB?src=hash&ref_src=twsrc%5Etfw">#UXPHRoadshowCEB</a> <a href="https://t.co/qpXO70waPW">pic.twitter.com/qpXO70waPW</a></p>— UX Philippines (@UXPH_) <a href="https://twitter.com/UXPH_/status/1167638578895056898?ref_src=twsrc%5Etfw">August 31, 2019</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
{{< /twitter >}}