/* about stylesheet */

#what-we-do .featured-image {
	min-width: 184px !important;
	height: 174px;
}

#meet-the-team .featured-image {
	width: 4.5rem;
	height: 4.5rem;
}

.team-feed > div {
	flex: 0 50%;
}