/* about stylesheet */

#what-we-do .featured-image {
	min-width: 250px !important;
	height: 240px;
}

#meet-the-team {
	background: url(../assets/visuals/ph-map-blue.png);
	background-size: 500px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: right;
}

.team-feed > div {
	flex: 0 50%;
}

#link-blue-1 {
	top: 30%;
}

#link-red-1 {
	right: 0;
	bottom: 10%;
}

#link-yellow-1 {
	top: 35%;
}
