/* blog list styling */

div.blog-item {
	display: flex;
	justify-content: space-between;
}

div.blog-item p {
	color: var(--neutral-white);
	font-size: 1em;
	text-overflow: ellipsis;
	max-height: 95px;
	overflow: hidden;
	-webkit-line-clamp: 3;
}

div.blog-item h1 {
	color: var(--primary-blue) !important;
	font-size: 1.875em;
	/*overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;*/
	width: 20em;
	margin: 0;
	margin-bottom: 0.5em;
}

div.blog-item .featured-image {
	display: block;
	margin-right: 2.5em;
	width: 15em;
	height: 15em;
	border: 2px solid var(--primary-light-blue-rgba-weak);
	border-radius: 0.5em;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

/*div.blog-item .excerpt {
	margin-top: 1.5em;
}*/

/* blog entry styling */
section#blog-entry #featured-image,
section#blog-entry img {
	width: 100%;
	border-radius: 0.5em;
	display: block;
}

section#blog-entry #content *, section#blog-entry #blog-title {
	color: var(--neutral-white);
}

section#blog-entry #content a {
	color: var(--primary-light-blue);
	word-wrap: break-word;
}

section#blog-entry h1#blog-title {
	margin: 0;
	font-size: 2.125em;
	color: var(--primary-light-blue);
}

section#blog-entry div#content i,
section#blog-entry div#content b,
section#blog-entry div#content u {
	color: var(--neutral-black);
}

section#blog-entry div#content h2,
section#blog-entry div#content h3,
section#blog-entry div#content h4,
section#blog-entry div#content h5,
section#blog-entry div#content h6 {
	color: var(--neutral-black);
	margin-top: 3em;
}

section#blog-entry div#content {
	margin: 4em 0;
}

section#blog-entry div#content > p {
	font-size: 18px;
}

section#blog-entry div#content a:hover {
	text-decoration: underline;
}

section#blog-entry .twitter-tweet {
	margin: 2em auto !important;
}

section#blog-entry .sponsor-wrapper {
	justify-content: flex-start !important;
}

section#blog-entry .sponsor-wrapper .featured-image {
	width: 8em;
	height: 8em;
	border-radius: 100%;
	background-color: white;
}

section#blog-entry .tier-wrapper {
	justify-content: flex-start !important;
	align-items: flex-start !important;
	display: block !important;
	width: 100% !important;
	margin: 1.7em 0 !important;
}

section#blog-entry .column-content{
	display: flex;
}

/*footer a{
	color: #cccccc;
	font-weight: lighter;
	margin: 1em 0;
	font-size: 0.9em;
}*/

section#blog-entry .column-content div.content-wrapper h5 {
	font-size: 1em;
}

section#blog-entry div.content-wrapper{
	margin: 0;
	margin-right: 3.5em;
}

section#blog-entry div.sponsor-modal {
	border: 2px solid transparent;
	border-radius: 0.5em;
	transition: ease all 0.2s;
	cursor: pointer;
}

section#blog-entry div.sponsor-modal:hover {
	border: 2px solid var(--primary-light-blue-rgba);
}

section#blog-entry div.content-wrapper > a > div{
	display: flex;
	align-items: center;
}

section#blog-entry .ic{
	display: block;
	margin-right: 0.7em;
	width: 1.7em;
}