/* homepage stylesheet */

.flex-wrapper .featured-image {
	width: 40%;
	height: 40%;
}

#home-header {
	/*background: url(https://scontent.fmnl6-2.fna.fbcdn.net/v/t1.0-9/80548013_1251668998371502_151504503214964736_o.jpg?_nc_cat=106&_nc_ohc=UKmgOAGI8iIAX-xS9Bb&_nc_ht=scontent.fmnl6-2.fna&oh=241cb0876aa66b12b8b1eb1ef93be01f&oe=5EBE4159);*/
	background: url(../assets/images/web-cover-photo.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	z-index: 1;
}

#home-header::before {
	background-color: rgba(0, 58, 137, 0.3);
	position: absolute;
	top: 0;
	content: '';
	width: 100%;
	height: 100%;
}

#volunteer-perks li {
	display: flex;
	align-items: center;
	margin-top: var(--value-24);
}

#current-event-overlap .featured-image {
	min-width: 12.5rem;
	max-height: 12.5rem;
	background-color: #ccc;
}

#current-event-overlap .description {
	height: 3.5rem;
	overflow: hidden;
	text-overflow: ellipsis;
}