:root {
	--light-theme-p: #666;
	--light-theme-heading: #333;
}

body#light {
	background-color: var(--neutral-whitish);
}

body#light div#modal-wrapper * {
	color: var(--neutral-white) !important;
}

body#light div#modal-wrapper .featured-image {
	background-color: white;
}

body#light div#modal-wrapper .title-topic {
	color: var(--neutral-gray) !important;
}

body#light div#modal-wrapper .text-link {
	display: block;
	text-align: center !important;
	color: var(--primary-light-blue) !important;
}

body#light div#modal-wrapper .text-link:hover {
	text-decoration: underline;
}

body#light nav {
	background-color: #f5f5f5 !important;
}

body#light nav ul li:hover {
    color: var(--primary-blue);
    border-bottom: 2px solid var(--primary-blue);
}

body#light nav ul li.active {
    color: var(--primary-blue);
    border-bottom-color: var(--primary-blue);
}

body#light nav.true-dark {
	background-color: var(--neutral-black);
}

body#light nav.true-dark ul li:hover {
    color: var(--primary-blue);
    border-bottom: 2px solid var(--primary-blue);
}

body#light nav.true-dark ul li.active {
    color: var(--primary-blue);
    border-bottom-color: var(--primary-blue);
}

body#light section.dark {
	background-color: var(--neutral-whitish);
	color: var(--neutral-black);
}

body#light section.dark.alternate {
	background-color: var(--neutral-white);
}

body#light section.true-dark {
	background-color: var(--neutral-black);
	color: var(--neutral-white);
}

body#light .yellow {
	color: #f4ab39;
}

body#light div#speaker-wrapper div.content-wrapper {
	border-bottom-color: transparent;
}

body#light div.timeline {
	border-left-color: var(--neutral-black);
}

body#light h1,
body#light h2,
body#light h3,
body#light h4,
body#light h5,
body#light h6 {
	color: var(--light-theme-heading);
}

body#light p {
	color: var(--light-theme-p) !important;
}

body#light footer p {
	color: white !important;
}

body#light footer {
	background-color: var(--neutral-black);
	color: white;
}

body#light footer h3, body#light footer h5 {
	color: white;
}

body#light footer a {
	color: #cccccc;
}

body#light footer .coc {
	color: var(--primary-light-blue) !important;
}

body#light #back-to-top {
	background-color: white !important;
}