/* Main stylesheet */

@import url(utilities.css);
@import url(overlaps.css);
@import url(bootstrap-utilities.css);

@font-face {
	font-family: 'circular';
	src: url('../assets/fonts/CircularStd-Book.otf') format("opentype");
}

@font-face {
	font-family: 'circular-bold';
	src: url('../assets/fonts/CircularStd-Bold.otf') format("opentype");
}

:root {
	--main-blue: #15B0DE;
	--main-blue-dark: #007BBF;
	--main-red: #EC3558;
	--main-red-dark: #CE0000;

	--value-4: 0.25rem;
	--value-8: 0.5rem;
	--value-12: 0.75rem;
	--value-16: 1rem;
	--value-24: 1.5rem;
	--value-32: 2rem;
	--value-48: 3rem;
	--value-64: 4rem;
	--value-96: 6rem;
	--value-128: 8rem;
	--value-192: 12rem;
	--value-256: 16rem;
	--value-384: 24rem;
	--value-512: 32rem;
	--value-640: 40rem;
	--value-768: 48rem;

	color: #333333;
	font-family: 'circular', sans-serif;
}

body, html {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'circular-bold', sans-serif;
	margin: 0;
}

p {
	line-height: 1.75rem;
	margin: 0;
}

div.wrapper {
	width: var(--value-768);
	padding: 0 var(--value-64);
	margin: auto;
}

#header-logo {
	display: block;
	margin: 0 auto !important;
}