#modal-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    display: none;
    z-index: 1000;
}

#modal-container .featured-image {
    border-radius: 100%;
    max-height: var(--value-128);
    max-width: var(--value-128);
    min-height: var(--value-128);
    min-width: var(--value-128);
    margin-right: var(--value-32);
}

#modal-close {
    cursor: pointer;
	float: right;
	margin: var(--value-24);
}
