nav {
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: var(--neutral-black);
    box-sizing: border-box;
    z-index: 999 !important;
}

nav > div.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav #nav-logo {
    width: 11em;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 1.3em 1em;
    text-align: center;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    transition: ease all 0.2s;
    color: var(--neutral-gray);
    font-weight: normal;
}

nav ul li:hover {
    color: var(--neutral-white);
    border-bottom: 2px solid var(--neutral-white);
}

nav ul li.active {
    color: var(--neutral-white);
    border-bottom: 2px solid var(--neutral-white);
}
