nav {
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: var(--neutral-black);
    box-sizing: border-box;
    z-index: 999 !important;
}

nav > div.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav #nav-logo {
    width: 11em;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 1.3em 1em;
    text-align: center;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    transition: ease all 0.2s;
    color: var(--neutral-gray);
    font-weight: normal;
}

nav ul li:hover {
    color: var(--neutral-white);
    border-bottom: 2px solid var(--neutral-white);
}

nav ul li.active {
    color: var(--neutral-white);
    border-bottom-color: var(--neutral-white);
}

#hamburger {
    display: none;
    width: 1.5em;
}

nav#mobile-nav {
    position: fixed;
    top: 0;
    right: 0em;
    width: 83%;
    height: 100%;
    display: none;
    padding: 2em 3em;
    background-color: var(--neutral-black);
    z-index: 999;
    box-shadow: 2px 2px 11px rgba(0, 0, 0, 0.5);
    transition: ease all 0.3s;
}

nav#mobile-nav.hide {
    right: -50em;
}

nav#mobile-nav img#close {
    display: block;
    width: 1.5em;
    height: 1.5em;
    margin: 0;
    padding: 0;
}

nav#mobile-nav ul li {
    display: block;
    text-align: left;
    border-bottom: thin solid var(--neutral-gray);
}

nav#mobile-nav ul li.active {
    color: var(--neutral-white);
    border-bottom-color: var(--neutral-white);
}
