/* overlaps stylesheet */
#current-event-overlap {
  box-sizing: border-box;
  margin-top: -12rem;
  position: relative;
  z-index: 99;
}

#featured-research-overlap {
  box-sizing: border-box;
  margin-top: -18rem;
  position: relative;
  z-index: 99;
}

#mission-vision-overlap {
  box-sizing: border-box;
  margin-top: -6rem;
}

#volunteer-overlap {
  box-sizing: border-box;
  margin-top: -12rem;
}
