.pagination button {
    padding: var(--value-8) var(--value-12);
}

.pagination button:disabled {
    background-color: #ccc;
    border-color: #ccc;
}

.pagination button:disabled:hover {
    box-shadow: 0px 0px 0px transparent;
	transform: translate(0px, 0px);
}
