/* responsive web design */

@media only screen and (max-width: 768px) {
    div.wrapper {
        width: 90% !important;
    }

    img#event-banner {
        width: 100% !important;
    }
}

@media only screen and (max-width: 675px) {
    img#event-banner {
        width: 100% !important;
    }

    #web-nav {
        display: none !important;
    }

    #hamburger {
        display: block !important;
    }

    div.wrapper {
        width: 90% !important;
    }

    div#other-roadshow {
        flex-direction: column !important;
    }

    div#other-roadshow div.content-wrapper {
        margin-right: 0 !important;
    }

    div#davao-roadshow {
        margin-bottom: 1em !important;
    }

    nav {
        padding: 1em 0 !important;
    }

    nav#mobile-nav{
        display: block !important;
        padding: 1.5em !important;
    }

    section.featured > div.wrapper {
        flex-direction: column !important;
    }

    section.featured.reversed > div.wrapper {
        flex-direction: column !important;
    }

    section.featured > div.wrapper img.featured-image {
        margin: 0 auto !important;
    }

    footer div.column-content {
        flex-direction: column !important;
    }

    footer > div.wrapper {
        display: flex;
        flex-direction: column;
    }

    footer #social-media {
        margin-top: 2em !important;
    }
}
