/* Meet the team stylesheet */

.team-list .team-wrapper {
	flex: 0 50%;
}

.team-wrapper .featured-image {
	width: 6em;
	height: 6em;
	box-shadow: inset 0px 0px 20px #cecece;
}

.team-wrapper h2 {
	font-size: 1.5em;
}