<!DOCTYPE html>
<html>
    <head>
        <title>{{ .Title }} - {{ .Site.Data.info.name }}</title>
        {{ if eq .Type "roadshow" }}
            {{ partial "components/meta" (dict "path" "../") }}
        {{ end }}

        {{ if eq .Type "certificate" }}
            {{ partial "components/meta" (dict "path" "../../") }}
        {{ end }}
    </head>
    <body>
        {{ if eq .Type "roadshow" }}
            {{ partial "components/nav" (dict "path" "../") }}
                {{ partial .Params.page . }}
            {{ partial "components/footer" (dict "path" "../")  }}
        {{ end }}

        {{ if eq .Type "certificate" }}
            {{ partial "components/nav" (dict "path" "../../") }}
                {{ partial .Params.page . }}
            {{ partial "components/footer" (dict "path" "../../")  }}
        {{ end }}
        <script>setActive({{ .Params.active }});</script>
    </body>
</html>
