<!-- About page -->
<header id="about-header" class="bg-light padding-top-64 padding-bottom-192 auto-hidden">
	<div class="wrapper">
		<div class="w-100" id="about-uxph-content">
			<h1 class="margin-bottom-32 text-white">About UXPH</h1>
			{{ range .Site.Data.info.about_us }}
				<p class="margin-bottom-16 text-white">{{ . }}</p>
			{{ end }}
			<div class="d-flex fb-buttons">
				<a href="https://www.facebook.com/uxphofficial/" target="_blank" class="button margin-right-4">
					<i class="fab fa-facebook-f"></i>
					&nbsp;Join The Facebook Group
				</a>
				<a href="https://www.facebook.com/groups/uxphofficial/" target="_blank" class="button">
					<i class="fab fa-facebook-f"></i>
					&nbsp;Facebook Page
				</a>
			</div>
		</div>
	</div>
</header>

<section id="what-we-do" class="padding-bottom-96 position-relative auto-hidden">

	<img src="../assets/visuals/link-blue.svg" class="visuals width-192" id="link-blue-1" alt="" />
	<div class="wrapper">
		<div id="mission-vision-overlap" class="bg-white border-radius-12 shadow padding-y-32 padding-x-32 w-100 d-flex space-between">
			<div id="mission" class="w-50 margin-right-16">
				<h2 class="margin-bottom-12">Mission</h2>
				<p>{{ .Site.Data.info.mission }}</p>
			</div>
			<div id="vision" class="w-50 margin-left-16">
				<h2 class="margin-bottom-12">Vision</h2>
				<p>{{ .Site.Data.info.vision }}</p>
			</div>
		</div>
	</div>

	<div class="wrapper organization-initiatives">
		<h1 class="margin-bottom-32 margin-top-96">Organization Initiatives</h1>
		<div class="d-flex justify-content-between margin-bottom-48 ">
			<div class = "mr-3 w-50 margin-bottom-32 what-we-do-item">
				<div style="background: url(https://scontent.fmnl6-2.fna.fbcdn.net/v/t1.0-9/67623356_1105284413009962_5937634103074488320_o.jpg?_nc_cat=108&_nc_ohc=8mP4lFPb3GsAX9c0aZq&_nc_ht=scontent.fmnl6-2.fna&oh=7758f9a1c644af5abf2e9f1da3f4c5b7&oe=5EF4BDB4); background-size: cover; background-position: center;" class="border-radius-12 bg-secondary margin-right-32 featured-image d-block w-100 border-radius-12"></div>
				<h2 class="margin-bottom-16 margin-top-32">Monthly Meetups</h2>
				<p class="margin-bottom-24">{{ .Site.Data.info.monthly_meetups }}</p>
				<a href="/events" class="button outline">View our events</a>

			</div>
			<div class = "mr-3 w-50 margin-bottom-32 what-we-do-item">
				<div style="background: url(https://lh3.googleusercontent.com/l1dBMlzteyQdlxyWFZIltvCLi6Y6jwzYhHod0GfAB0_97e1iDYTttFZGYBRaHHODzk_oJGikjmgY-Tk9se0QMzIt1sqxMYhl3phCWBod6nPnPXdZc3eOA9PGbgmKtNWvjtTaMrQGVjvOYZ_HMauLxU7EDbQiDYz1vA1qLUwJ38eD_TfANn9FVBnmdTdqKq7zg2u79Pjc9QrO4ynymfjvDu1aFDc1j7p5Yy4FsbeHZSYK4zVxKsQHiGjRr6YhNXcZhIADItJOSPgT3cNmBj4DF-XJw83RDLX6cWA5SQ9618Xb2XEi1QRceYbd_AuN7_NalujZDM8Mb_nI0AEudFGfV_cKbZQtGmY7GRu3qNn8RjMwY4PHlohG0dwiyKy-bDnvhXrqiOo5Y0bG88FHNQ0rpVmuJdoGtYXnU3l28dQ2HrWiUnH5v5G7aF9ihi8drdfA-FXgbQv64EqiH4h6CZ5TDOp9iZpxJRuZcWbeGNThsrEubVZ7LkjRLjc8LTxqluCfzNOPsAVIacUOU3LKI0-DH2ob1IsfSJXCdCABDvBFXeHsVZrRjibjoXccSlsaFblBq3ooFnz8HCzJsQtR6N88o6wOcTH_PTGJrWO6R6qjaxbtTE3-vDupYLg9p8_OwMcJ8V4aS4bzyCADT3sVsSLV-zHMY0WNA6p_7jtSg693VyTe9SvtPd_kEOxbFn8=w2048-h1365-no?authuser=1); background-size: cover; background-position: center;" class="border-radius-12 bg-secondary margin-right-32 featured-image d-block w-100 border-radius-12"></div>
				<h2 class="margin-bottom-16 margin-top-32">Design Conferences</h2>
				<p class="margin-bottom-24">{{ .Site.Data.info.conferences }}</p>
				<a href="https://roadshow.uxph.org" target="blank" class="button outline">Visit UXPH Roadshow</a>
			</div>
		</div>
	</div>
	<div class="wrapper organization-initiatives">
		<div class="d-flex justify-content-between margin-bottom-48">
			<div class = "mr-3 w-50 margin-bottom-32 what-we-do-item">
				<div style="background: url(https://lh3.googleusercontent.com/gIEQwJUBniwnJcm4N72nn3ebWMEhTdS5Om5Gg7pEAheTghuM6gpOn1v2Mf2VNztYYJVOeXwy35ocSWeGLUVThHuic5HSOU5w0xiCYQf1F1570At4wyzET8XCUUFxuovJP_gYu2l1G6cLaeSCaEpQjGkX21wPs3Fro2j7SuTbsKfOhw9Kq-FxSDysSZ5nje6vc1BH_yDo-5SnMycpqMz_2nGBBTHM37J4NQbSn6ItSsI3zBVllmB-HF0Nig2oxes2WCgBmpV6DnzYBejNvFdJOzgLDzMzxytfwuTl4AuoyXNVZTC-M7K6pT1jkF_uTN19vaOaZpXdF92D6_KtnEx3p4NWbHEcPyFL7i2Ys7VKsTBY5dJINVrfVavDVF0vUAsEfXUngcSdNwONZXTCjx8bWVhrGVQwI2UiMxWMSXsuyrIMjTzfyhP133-C9YMGWuucFHh8mFikQCUXJnQVKVFDGUQxiqnB4OEmRXYsvsSDvRwlr0msPSrByb0gcb5aqXDj0ztFhaM9xkkr5P5rqDth-3UxtJ9LB_RzEnJTNPAU1jo7CPJKdA7YSOV5uoRqbgdvxnUdRLZ1mwu2tF-o0WkEh725V_qO0l-nWu9hQTeuJlnA1Xde0H2_nEoBaGl-bMqFX6hID_3emvhKXUblGf7ZpPu4aRjqsVDauZihGpIYvXsCO5p37V2mpv4rkPU=w2048-h1365-no?authuser=1); background-size: cover; background-position: center;" class="border-radius-12 bg-secondary margin-right-32 featured-image d-block w-100 border-radius-12"></div>
				<h2 class="margin-bottom-16 margin-top-32">UX Bootcamp (Coming Soon)</h2>
				<p class="margin-bottom-24">{{ .Site.Data.info.bootcamp }}</p>
				<!-- <button class="outline">View our UX Bootcamp</button> -->
			</div>
			<div class = "mr-3 w-50 margin-bottom-32 what-we-do-item">
				<div style="background: url(https://lh3.googleusercontent.com/YS8JQG800L58yZXDlwT3gCc2j2uwdYliL7rTyVim5dnJt84ZrXqSaMS4C40aQbxORaIVdYo2R-7vdgQ6WotvF83-_hLvU_3SHtdvSelqwEIDULhBt9wek4r12vq74PZezXS85tyXqyKzmicnchcfIu5cIKon-aIMmfsQ8n9j4xs7nB4WYiKyPFzcQll6HEw0aNBLnTIowyc6pVdPdKNOVTNtemRkGai5joV7uu5CilUe8jYxuV3t0T5EK0VdtwkR7bgGnS2YRyecb8eMC1hc8K3LwCZq7XSCRt3z-M2td5Ak9I1h8kbaPhDIgwOp7oiUcCaT6hjTSdxs4uRgK5GvAP8z9OBs7N4VXR8W8ianwJZ9QanfZRLLmZxX_uMr9Nf-U-b1PW61wKb0YGjv3QLiFT52fBMl9EkfYWpzCa5DD7Ri_oeGA52oZ2CG3huSnpqKzTbs8AQHuBzhgFgY9v6qcXZwUtlxmc9RbG0xLz-BauSdeZDlJvZXgsS9DQw4TrnuFNgo_GKE_fm5JPWNY8DiQt3HnlW9QxGTscpac0p-AtA3t-kZPguP1BBbAhACbevsCTtVTRSZI4jzbigLy437-m_Ehf_93wYblQT2abs7DSjCUmViQLNlsz19BHp1WF6EIrFuCUMTg2Gp8PkniRVkZBGnJ5bp0lUyW61KrBB6NtcVXrfc3p-c7Py-bys=w2048-h1365-no?authuser=1); background-size: cover; background-position: center;" class="border-radius-12 bg-secondary margin-right-32 featured-image d-block w-100 border-radius-12"></div>
				<h2 class="margin-bottom-16 margin-top-32">Design Mentorship</h2>
				<p class="margin-bottom-24">{{ .Site.Data.info.mentorship }}</p>
				<!-- <button class="outline">View our mentorship programs</button> -->
			</div>
		</div>
	</div>
	<img src="../assets/visuals/link-red.svg" class="visuals width-192" id="link-red-1" alt="" />
</section>

<style>
	.about-image{
		background-color: #c4c4c4;
		height: 350px;
		border-radius: 20px;
	}

	i{
		margin-right: 0.25em;
	}
	#what-we-do {
		background: url(../assets/visuals/ph-map-gray.png);
		background-size: 500px;
		background-repeat: no-repeat;
		background-position: right;
	}
</style>

<link rel="stylesheet" type="text/css" href="../css/about.css" />
