<!-- About page -->
<style>
	.about-image{
		background-color: #c4c4c4; 
		height: 350px; 
		border-radius: 20px;
	}

	i{
		margin-right: 0.25em;
	}
	#what-we-do {
		background: url(../assets/visuals/ph-map-gray.png);
		background-size: 500px;
		background-repeat: no-repeat;
		background-position: right;
	}
</style>

<header id="about-header" class="bg-light padding-top-64 padding-bottom-192 auto-hidden">
	<div class="wrapper">
		<div class="w-75" id="about-uxph-content">
			<h1 class="margin-bottom-32 text-white">About UXPH</h1>
			{{ range .Site.Data.info.about_us }}
				<p class="margin-bottom-16 text-white">{{ . }}</p>
			{{ end }}
		</div>
	</div>
</header>

<section id="what-we-do" class="padding-bottom-96 position-relative auto-hidden">

	<img src="../assets/visuals/link-blue.svg" class="visuals width-192" id="link-blue-1" />
	<div class="wrapper">
		<div id="mission-vision-overlap" class="bg-white border-radius-12 shadow padding-y-32 padding-x-32 w-100 d-flex space-between">
			<div id="mission" class="w-50 margin-right-16">
				<h2 class="margin-bottom-12">Mission</h2>
				<p>{{ .Site.Data.info.mission }}</p>
			</div>
			<div id="vision" class="w-50 margin-left-16">
				<h2 class="margin-bottom-12">Vision</h2>
				<p>{{ .Site.Data.info.vision }}</p>
			</div>
		</div>
	</div>

	<div class = "wrapper">
		<h1 class="margin-bottom-32 margin-top-96">Organization Initiatives</h1>
		<div class="d-flex justify-content-between margin-bottom-48 ">
			<div class = "mr-3 w-50 margin-bottom-32 what-we-do-item">
				<div style="background: url(https://scontent.fmnl6-2.fna.fbcdn.net/v/t1.0-9/67623356_1105284413009962_5937634103074488320_o.jpg?_nc_cat=108&_nc_ohc=8mP4lFPb3GsAX9c0aZq&_nc_ht=scontent.fmnl6-2.fna&oh=7758f9a1c644af5abf2e9f1da3f4c5b7&oe=5EF4BDB4); background-size: cover; background-position: center;" class="border-radius-12 bg-secondary margin-right-32 featured-image d-block w-100 border-radius-12"></div>
				<h2 class="margin-bottom-16 margin-top-32">Monthly Meetups</h2>
				<p class="margin-bottom-24">{{ .Site.Data.info.monthly_meetups }}</p>
				<button class="outline">View our events</button>

			</div>
			<div class = "mr-3 w-50 margin-bottom-32 what-we-do-item">
				<div style="background: url(https://scontent.fmnl6-1.fna.fbcdn.net/v/t1.0-9/81040016_1251664141705321_4898711282590416896_o.jpg?_nc_cat=102&_nc_ohc=5E9VoKuKursAX-2msXh&_nc_ht=scontent.fmnl6-1.fna&oh=2b688a29fe2845f70cd67abc7dd296d7&oe=5EC25375); background-size: cover; background-position: center;" class="border-radius-12 bg-secondary margin-right-32 featured-image d-block w-100 border-radius-12"></div>
				<h2 class="margin-bottom-16 margin-top-32">Design Conferences</h2>
				<p class="margin-bottom-24">{{ .Site.Data.info.conferences }}</p>
				<a href="https://roadshow.uxph.org" target="blank"><button class="outline">Visit UXPH Roadshow</button></a>
			</div>
		</div>
	</div>
	<div class = "wrapper">
		<div class="d-flex justify-content-between margin-bottom-48 what-we-do-item">
			<div class = "mr-3 w-50 margin-bottom-32">
				<div style="background: url(https://scontent.fmnl6-1.fna.fbcdn.net/v/t1.0-9/81040016_1251664141705321_4898711282590416896_o.jpg?_nc_cat=102&_nc_ohc=5E9VoKuKursAX-2msXh&_nc_ht=scontent.fmnl6-1.fna&oh=2b688a29fe2845f70cd67abc7dd296d7&oe=5EC25375); background-size: cover; background-position: center;" class="border-radius-12 bg-secondary margin-right-32 featured-image d-block w-100 border-radius-12"></div>
				<h2 class="margin-bottom-16 margin-top-32">UX Bootcamp (Coming Soon)</h2>
				<p class="margin-bottom-24">{{ .Site.Data.info.bootcamp }}</p>
				<!-- <button class="outline">View our UX Bootcamp</button> -->
			</div>
			<div class = "mr-3 w-50 margin-bottom-32">
				<div style="background: url(https://scontent.fmnl6-1.fna.fbcdn.net/v/t1.0-9/81040016_1251664141705321_4898711282590416896_o.jpg?_nc_cat=102&_nc_ohc=5E9VoKuKursAX-2msXh&_nc_ht=scontent.fmnl6-1.fna&oh=2b688a29fe2845f70cd67abc7dd296d7&oe=5EC25375); background-size: cover; background-position: center;" class="border-radius-12 bg-secondary margin-right-32 featured-image d-block w-100 border-radius-12"></div>
				<h2 class="margin-bottom-16 margin-top-32">Design Mentorship</h2>
				<p class="margin-bottom-24">{{ .Site.Data.info.mentorship }}</p>
				<!-- <button class="outline">View our mentorship programs</button> -->
			</div>
		</div>
	</div>
<img src="../assets/visuals/link-red.svg" class="visuals width-192" id="link-red-1" />
</section>
<!-- 
<section id="meet-the-team" class="padding-bottom-128 position-relative hidden">
	<img src="../assets/visuals/link-yellow.svg" class="visuals width-192" id="link-yellow-1" />
	<div class="wrapper">
		<h1 class="margin-bottom-48">Organizing Members</h1>
		<div class="margin-bottom-48">
			<h2 class="text-secondary margin-bottom-32">Board Members</h2>
			<div class="d-flex justify-content-between flex-wrap team-feed">
				{{ range .Site.Data.team.board_members }}
					<div class="d-flex margin-bottom-64 flex-column w-50">
						<div>
							<div class="d-flex align-items-center margin-bottom-24">
								<div class="featured-image rounded-circle bg-secondary mr-3"></div>
								<div>
									<h2>{{ .name }}</h2>
									<p class="text-secondary">{{ .role }}</p>
								</div>
							</div>
							{{ range .description }}
								<p class="text-secondary margin-bottom-16 padding-right-16">
									{{ . }}
								</p>
							{{ end }}
							<a href="{{ .linkedin }}" target="blank">
								<i class="fab fa-linkedin fa-lg"></i>
							</a>
						</div>
					</div>
				{{ end }}
			</div>
		</div>

		<div class="margin-bottom-48">
			<h2 class="text-secondary margin-bottom-32">Committee Leads</h2>
			<div class="d-flex justify-content-between flex-wrap team-feed">
				{{ range .Site.Data.team.committee_leads }}
					<div class="d-flex margin-bottom-64 flex-column w-50">
						<div>
							<div class="d-flex align-items-center margin-bottom-24">
								<div class="featured-image rounded-circle bg-secondary mr-3"></div>
								<div>
									<h2>{{ .name }}</h2>
									<p class="text-secondary">{{ .role }}</p>
								</div>
							</div>
							{{ range .description }}
								<p class="text-secondary margin-bottom-16 padding-right-16">
									{{ . }}
								</p>
							{{ end }}
							<a href="{{ .linkedin }}" target="blank">
								<i class="fab fa-linkedin fa-lg"></i>
							</a>
						</div>
					</div>
				{{ end }}
			</div>
		</div>

		<div>
			<h2 class="text-secondary margin-bottom-32">Coordinators</h2>
			<div class="d-flex justify-content-between flex-wrap team-feed">
				{{ range .Site.Data.team.coordinators }}
					<div class="d-flex margin-bottom-64 flex-column w-50">
						<div>
							<div class="d-flex align-items-center margin-bottom-24">
								<div class="featured-image rounded-circle bg-secondary mr-3"></div>
								<div>
									<h2>{{ .name }}</h2>
									<p class="text-secondary">{{ .role }}</p>
								</div>
							</div>
							{{ range .description }}
								<p class="text-secondary margin-bottom-16 padding-right-16">
									{{ . }}
								</p>
							{{ end }}
							<a href="{{ .linkedin }}" target="blank">
								<i class="fab fa-linkedin fa-lg"></i>
							</a>
						</div>
					</div>
				{{ end }}
			</div>
		</div>
	</div>
</section> -->

<link rel="stylesheet" type="text/css" href="../css/about.css" />