<!-- About page -->
<header class="bg-light padding-top-96 padding-bottom-192 position-relative">
	<div class="wrapper">
		<div>
			<h1 class="margin-bottom-32">About Us</h1>
			<p class="margin-bottom-32">
				User Experience Philippines (UXPH) is a non-profit organization that hosts the largest network of design professionals, enthusiasts, and students in the Philippines. Since 2012, we have been building towards a more mature, collaborative, and design-driven country by hosting community events, conferences, and advocating online community engagement within local design and technology communities.
			</p>
			<p>
				UXPH has become the country’s premier community for sharing information, resources, and building networks. As of 2019, the UXPH community has over 3,300 local and international members, all from a wide range of industries related to technology and even traditional businesses.
			</p>
		</div>
		<div id="mission-vision-overlap" class="bg-white rounded shadow padding-y-8 position-absolute padding-y-32 padding-x-32 width-768 d-flex space-between">
			<div class="flex-grow-1 margin-right-16">
				<h2 class="margin-bottom-12">Mission</h2>
				<p>To grow and nurture the Filipino creative community through sharing and collaboration.</p>
			</div>
			<div class="flex-grow-1 margin-left-16">
				<h2 class="margin-bottom-12">Vision</h2>
				<p>An empowered culture where products and services are built mindfully and sustainably.</p>
			</div>
		</div>
	</div>
</header>

<section id="what-we-do" class="padding-bottom-96 padding-top-192">
	<div class="wrapper">
		<h1 class="margin-bottom-32">What We Do</h1>
		<div class="d-flex margin-bottom-48">
			<div class="rounded bg-secondary margin-right-32 featured-image flex-grow-1"></div>
			<div>
				<h2 class="margin-bottom-16">Monthly Meetups</h2>
				<p class="margin-bottom-24">UXPH organizes free monthly meetups all around Metro Manila (and soon outside of it).</p>
				<button>View our events</button>
			</div>
		</div>
		<div class="d-flex justify-content-between">
			<div class="rounded bg-secondary margin-right-32 featured-image flex-grow-1"></div>
			<div>
				<h2 class="margin-bottom-16">Conferences and other programs</h2>
				<p class="margin-bottom-24">
					From 2019 onwards, UXPH is organizing a National Roadshow to connect Filipino design communities all around.
				</p>
				<button>Visit our conference website</button>
			</div>
		</div>
	</div>
</section>

<section id="meet-the-team" class="padding-bottom-128">
	<div class="wrapper">
		<h1 class="margin-bottom-48">Meet the Team</h1>
		<div class="margin-bottom-48">
			<h2 class="text-secondary margin-bottom-32">Board Members</h2>
			<div class="d-flex justify-content-between flex-wrap team-feed">
				<div class="d-flex align-items-center margin-bottom-32">
					<div class="featured-image rounded-circle bg-secondary margin-right-16"></div>
					<div>
						<h2>Aldrich Tan</h2>
						<p class="text-secondary">Managing Director</p>
					</div>
				</div>

				<div class="d-flex align-items-center margin-bottom-32">
					<div class="featured-image rounded-circle bg-secondary margin-right-16"></div>
					<div>
						<h2>Jordan Deja</h2>
						<p class="text-secondary">Advisory Board</p>
					</div>
				</div>

				<div class="d-flex align-items-center margin-bottom-32">
					<div class="featured-image rounded-circle bg-secondary margin-right-16"></div>
					<div>
						<h2>Elymar Apao</h2>
						<p class="text-secondary">Advisory Board</p>
					</div>
				</div>
			</div>
		</div>

		<div class="margin-bottom-48">
			<h2 class="text-secondary margin-bottom-32">Committee Leads</h2>
			<div class="d-flex justify-content-between flex-wrap team-feed">
				<div class="d-flex align-items-center margin-bottom-32">
					<div class="featured-image rounded-circle bg-secondary margin-right-16"></div>
					<div>
						<h2>Kristine Garcia</h2>
						<p class="text-secondary">Volunteers Lead</p>
					</div>
				</div>

				<div class="d-flex align-items-center margin-bottom-32">
					<div class="featured-image rounded-circle bg-secondary margin-right-16"></div>
					<div>
						<h2>Janyl Tamayo</h2>
						<p class="text-secondary">Events Lead</p>
					</div>
				</div>

				<div class="d-flex align-items-center margin-bottom-32">
					<div class="featured-image rounded-circle bg-secondary margin-right-16"></div>
					<div>
						<h2>Chiara Señires</h2>
						<p class="text-secondary">Marketing Lead</p>
					</div>
				</div>

				<div class="d-flex align-items-center margin-bottom-32">
					<div class="featured-image rounded-circle bg-secondary margin-right-16"></div>
					<div>
						<h2>Mike Jaren Yap</h2>
						<p class="text-secondary">Web Lead</p>
					</div>
				</div>

				<div class="d-flex align-items-center margin-bottom-32">
					<div class="featured-image rounded-circle bg-secondary margin-right-16"></div>
					<div>
						<h2>Reine Bantang</h2>
						<p class="text-secondary">Creative Lead</p>
					</div>
				</div>
			</div>
		</div>

		<div>
			<h2 class="text-secondary margin-bottom-32">Coordinators</h2>
			<div class="d-flex justify-content-between flex-wrap team-feed">
				<div class="d-flex align-items-center margin-bottom-32">
					<div class="featured-image rounded-circle bg-secondary margin-right-16"></div>
					<div>
						<h2>Mars Quinay</h2>
						<p class="text-secondary">Marketing Coordinator</p>
					</div>
				</div>

				<div class="d-flex align-items-center margin-bottom-32">
					<div class="featured-image rounded-circle bg-secondary margin-right-16"></div>
					<div>
						<h2>Pierce Jonota</h2>
						<p class="text-secondary">Events Coordinator</p>
					</div>
				</div>

				<div class="d-flex align-items-center margin-bottom-32">
					<div class="featured-image rounded-circle bg-secondary margin-right-16"></div>
					<div>
						<h2>Richard Parayno</h2>
						<p class="text-secondary">Events Coordinator</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<link rel="stylesheet" type="text/css" href="../css/about.css" />