<section class="dark">
    <div class="wrapper">
        <h1 id="main-headline">UXPH National Roadshow: Cebu</h1>
        <p id="main-excerpt">
            <i class="fa fa-calendar"></i>August 31, 2019
            <br/>
            <i class="fa fa-clock"></i>8:00am - 5:00pm
            <br/>
            <i class="fa fa-map-marker-alt"></i>The Company CEBU, IT Park
        </p>
        <a href="https://www.eventbrite.com/e/uxph-national-roadshow-cebu-tickets-66096104227" target="_blank">
            <button>Buy Tickets</button>
        </a>
    </div>
    <br/><br/><br/>
    <div class="wrapper">
        <h2>Description</h2>
        <p>
            On the <span class="yellow">31st of August</span>, we will be celebrating the Cebu leg of the UXPH National Roadshow themed "<span class="yellow">Cultivating Design Culture.</span>" This is part of a national effort to spread the knowledge of user experience design not only to tech professionals but also to business who would greatly benefit from its processes and methodology.
        </p>
        <p>
            For this event, we are expecting over 100 professionals not only in visual design, industrial design, user interface design and user experience design, but also professionals who are interested in product development with applications in both tech and non-tech businesses.
        </p>
    </div>
</section>
<section class="dark">
    <div class="wrapper">
        <h1>Program Flow</h1>
        <p><i>* Program details and speakers to be finalized closer to the event.</i></p>
        <br/>

        {{ range .Site.Data.activities.CBU }}
        <div class="marker">
            <i class="fa fa-bullseye"></i>
            <span class="time yellow">{{ .time }}</span>
        </div>
        <div class="timeline">
            <p class="activity-name">{{ .name }}</p>
        </div>
        {{ end }}
    </div>
</section>
<section class="dark">
    <div class="wrapper">
        <h1>Getting There</h1>
        <p>
            <b class="yellow">Full Address:</b>
            <br/>
            The Company Cebu IT Park West Geonzon Street,<br/>Cebu City, Central Visayas
        </p>
        <img src="../assets/maps/cebu.png" id="map" />
    </div>
</section>
