<style>
    section p{
       margin-top: 24px;
       opacity: 0.8;
    }
    section h2{
        margin-top: 96px;
        margin-bottom: 4px;
    }

    #references li {
        margin-bottom: 16px;
        font-weight: 700;
        opacity: 0.8;
    }

    section div.wrapper ul li {
        line-height: 2rem;
    }

    section h3,  section h4{
        margin-top: 36px;
    }

    #coc-header {
        position: relative;
    }

    #coc-header::before {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: url(../assets/images/coc-bg.jpg);
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        opacity: 0.2;
        content: "";
        z-index: 0;
    }

    #coc-header * {
        color: white !important;
    }

    #coc-header > * {
        position: relative;
        z-index: 300;
    }

    .underline {
        text-decoration: underline;
    }
</style>

<!-- COC page -->
<header id="coc-header" class="bg-dark padding-y-96">
    <div class="wrapper">
		<div>
            <div class="margin-bottom-32">
                <h1 class="">Code of Conduct</h1>
                <h3 class="text-secondary margin-top-8">User Experience Philippines</h3>
            </div>
            <div class="padding-top-32">
                <h2 class="margin-bottom-32">Our commitment to our community</h2>
                <p class="margin-bottom-32">
                    UXPH's aim in hosting events is to offer a positive and safe environment within the community. Just like we believe that more diverse teams build better products, we know that diverse representation at events ultimately creates a stronger community. To that end, our goal is to create an environment where everyone feels welcome to participate, speak up, ask questions, and engage in conversation. We invite all those who participate in this event to help us create safe and positive experiences for everyone.
                </p>
                <p>
                    We follow a strict Code of Conduct for all our events and outlets, be it in-person or online. Before you participate in any UXPH initiative, please review the Code of Conduct below.
                </p>
            </div>
		</div>
	</div>
</header>
<section class="padding-bottom-96 padding-top-24">
    <div class="wrapper">
        <h2>Where does the UXPH Code of Conduct Apply?</h2>
        <p>
            The UXPH Code of Conduct applies to (but is not limited to) all UXPH-organized and UXPH-sanctioned events, conferences, workshops, environments, and platforms, both in-person and online, such as:
        </p>
        <ul>
            <li>Eventbrite meetups (in-person and online)</li>
            <li>Community platforms like Facebook groups, LinkedIn groups, UXPH Slack, and the UXPH Discord server</li>
            <li>Live chat and Q&A during talks and workshops in events (held in Zoom, Facebook Live, Swapcard, Clubhouse)</li>
            <li>In-person and online conferences, talks, and workshops</li>
        </ul>
        <p>
            All organizers, attendees, members, speakers, sponsors, vendors, partners, and volunteers in UXPH spaces are required to adhere to the following Code of Conduct. UXPH event organizers will enforce this Code throughout all spaces mentioned above.
        </p>

        <h3>Expected Behavior</h3>
        <ul>
            <li>
                Participate in an authentic, active, and respectful way. In doing so, you contribute to the health and longevity of the community culture and its mission.
            </li>
            <li>
                Exercise consideration and respect in your speech, actions, and the content you share.
            </li>
            <li>
                Attempt collaboration before conflict; be direct but constructive and professional.
            </li>
            <li>
                Refrain from using or sharing demeaning, discriminatory, harassing behavior, speech, or content.
            </li>
            <li>
                Be mindful of your surroundings and of your fellow participants. Alert community leaders if you notice a dangerous situation, someone in distress, or notice someone violating this Code of Conduct, even if they seem inconsequential.
            </li>
            <li>
                Share and promote content that contributes to conversation, growth, and learning of the community. Self-promotion and other content that doesn't contribute to discussion or the benefit of others will be removed. UXPH leads, moderators, and organizers may inform the poster or sharer before or after the deletion of the content.
            </li>
        </ul>

        <h3>Event venues and facilities</h3>
        <p>
            UXPH events are sponsored by our industry and community partners who have given us the privilege to use their space and facilities. All participants of UXPH events are expected to stay within the designated areas of the event and not enter any other areas unless they have been identified as part of the event.
        </p>
        <p>
            Everyone is expected to be respectful of the surrounding environment, facilities, equipment, and a CLAYGO (clean-as-you-go) Policy is always observed. UXPH will not be held responsible for any damage to property incurred due to negligence and misuse of assets and equipment during our events. Any incident of this nature will be dealt with accordingly by the venue host.
        </p>

        <h3>Harassment, Discrimination, and other Unacceptable Behavior</h3>
        <p>
            UXPH is dedicated to providing a harassment-free environment for everyone, regardless of their backgrounds and personal preferences (educational or professional background, family status, gender, gender identity or expression, marital status, sexual orientation, native language, age, ability, race and/or ethnicity, socioeconomic status, religion, geographic location, or any other dimension of diversity).
        </p>

        <h4>Harassment includes:</h4>
        <ul>
            <li>
                harmful or prejudicial verbal or written comments related to gender, sexual orientation, race, religion, disability, and any other dimension of diversity
            </li>
            <li>
                sustained disruption of talks or other events
            </li>
            <li>
                inappropriate use of nudity and/or sexual materials (including presentation slides, images, videos, links, and any other form of media) or creating a sexualized environment
            </li>
            <li>
                inappropriate depictions of violence (including presentation slides, images, videos, links, and any other form of media)
            </li>
            <li>
                deliberate intimidation, stalking or following
            </li>
            <li>
                harassing photography or recording, including logging online activity for harassment purposes
            </li>
            <li>
                inappropriate physical contact and unwelcome sexual attention
            </li>
            <li>
                pattern of inappropriate social contact, such as requesting/assuming inappropriate levels of intimacy with others
            </li>
            <li>
                continued one-on-one communication after requests to cease
            </li>
            <li>
                deliberate misgendering or use of ‘dead’ or rejected names
            </li>
            <li>
                deliberate “outing” of any aspect of a person’s identity without their consent except as necessary to protect vulnerable people from intentional abuse
            </li>
            <li>
                publication of non-harassing private communication
            </li>
        </ul>

        <p>
            If you believe someone is violating the UXPH Code of Conduct, please fill out the UXPH Incident Report Form (<a href="https://bit.ly/UXPHIncidentReportForm" target="_blank" class="blue underline">bit.ly/UXPHIncidentReportForm</a>) or send a message to <a href="mailto:care@uxph.org" class="blue underline">care@uxph.org</a>.
        </p>
        <p>
            We will make every reasonable effort to keep your incident report confidential.
        </p>
        <p>
            In the event it is determined we need to address the matter publicly, we will attempt to maintain the confidentiality of all parties involved unless those individuals instruct us otherwise.
        </p>
        <p>
            If you are unsure whether the incident is a violation, we encourage you to still report it! We strive to provide a safe environment and rather have a few extra reports where we decide to take no action, rather than miss a report of an actual violation. We do not look negatively on you if we find the incident is not a violation. Utilizing these reports, we can improve on our Code of Conduct and continue to provide the UXPH Community with the best possible environment.
        </p>

        <h3>What happens after you submit an incident report?</h3>
        <p>
            A UXPH representative will reach out to you as soon as possible to acknowledge receipt. Once we have a complete account of the events we will make a decision as to how to respond.
        </p>
        <p>
            Once we’ve determined our final action, we’ll contact the original reporter to let them know what action (if any) we’ll be taking.
        </p>

        <h3>How to identify UXPH Leads and Volunteers</h3>
        <p>
            <strong>For in-person events, meetups, gatherings, and the like:</strong> UXPH Leads, volunteers, and event staff can be identified as persons wearing UXPH-branded clothing and official badges or IDs. UXPH will be happy to help members and participants to contact venue security or local law enforcement, provide escorts, or otherwise assist those experiencing harassment to feel safe for the duration of the event. 
        </p>
        <p>
            <strong>For online spaces:</strong> the list of official UXPH leads and volunteers can be found on the UXPH website, in the <a href="/team" class="blue underline">Organizing Members</a> page. Other ways to identify UXPH leads and volunteers can be shown through (but not limited to):
        </p>
        <ul>
            <li>
                <a href="https://www.facebook.com/groups/uxphofficial" target="_blank" class="blue underline">Facebook group</a> moderators and admins
            </li>
            <li>
                Appropriately-named roles in the official <a href="http://bit.ly/UXPH-on-Discord" target="_blank" class="blue underline">UXPH Discord server</a>, such as: UXPH Adviser, UXPH Lead, UXPH Volunteer, UXPH Server Mod
            </li>
            <li>
                Zoom attendees with the UXPH Zoom background
            </li>
            <li>
                Clubhouse moderators
            </li>
        </ul>

        <h3>Consequences of unacceptable behavior</h3>
        <p>
            Unacceptable behavior from any UXPH community member, including sponsors and those with decision-making authority, will not be tolerated. Anyone asked to stop unacceptable behavior is expected to comply immediately.
        </p>
        <p>
            If a UXPH community member or event participant engages in unacceptable behavior, the community organizers may take any action they deem appropriate, up to and including a temporary ban or permanent expulsion from the community without warning (and without refund in the case of a paid event).
        </p>

        <h2>Ticket Refunds, Transfers, and No-Shows</h2>
        <p>
            All activities and events organized by the UXPH Community are carefully planned and well thought of as every cent that goes to the funding of our activities and events as a non-profit organization are important. <strong>Paid tickets by UXPH are non-refundable but are transferable</strong>; please contact us at <a href="mailto:info@uxph.org" class="blue underline">info@uxph.org</a> and CC the details of the attending participant/s to us for transfers and concerns.
        </p>
        <p>
            Attendance to UXPH activities and events that require RSVPs are tracked unless otherwise stated. UXPH does not tolerate any form of gatecrashing to our activities and events, both in-person and online. We reserve the right to deny access to anyone who had previously been found violating this Code of Conduct or had failed to RSVP to any of our activities or events. This is done to ensure that all those who RSVP'd will be accommodated. Registrants who fail to attend without canceling their RSVP can be barred from signing up for our future activities and events.
        </p>
        <p>
            If you seem incapable of attending the event and have a slot reserved, please vacate the seat as soon as possible so another attendee may avail of it. You may also contact us immediately at <a href="mailto:info@uxph.org" class="blue underline">info@uxph.org</a> for other related concerns.
        </p>

        <h2>Privacy, Photo, and Video disclaimer</h2>
        <p>
            UXPH holds and collects data for events mainly for identification, organization, and transactional purposes only. It is our policy to store these and not share these in accordance to PH Republic Act 10173 or the <a href="https://www.privacy.gov.ph/data-privacy-act/" target="_blank" class="blue underline">Data Privacy Act of 2012</a> (DPA). UXPH will never distribute, sell (in exchange for monetary or non-monetary value), nor share participant and member data or information to anyone outside of the organization without written consent from the respective data subject/s.
        </p>

        <h3>For in-person events</h3>
        <p>
            UXPH in-person events often have a photographer or videographer capturing the event. By attending the event you agree to be photographed or recorded, and you agree that UXPH will be the sole copyright owner of such media. UXPH reserves the right to use any media taken at any event hosted by UXPH without the express written permission of those included within the media, and you waive any rights therein. UXPH may use the photo or recording in publications or other media material produced, used, or contracted by UXPH including but not limited to: brochures, invitations, books, newspapers, magazines, television, websites, etc.
        </p>

        <h3>For online events</h3>
        <p>
            For UXPH online events, participants have the option to turn off their cameras if they prefer to not be seen, both by other participants, or during the group screenshot photos that are taken at the end of online events, usually handled on Zoom or other video conferencing platforms.
        </p>
        <p>
            We do respect each individual’s preferences for privacy. If for any reason you would rather not be filmed, photographed, or included in other UXPH media, you may reach out to any UXPH lead or volunteer, or send a message to <a href="mailto:care@uxph.org" class="blue underline">care@uxph.org</a>. Kindly mention which specific media or material you would like us to take down for quicker resolution of the concern.
        </p>

        <h2>License and Attributions</h2>
        <p>
            The UXPH Code of Conduct is distributed under a <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank" class="blue underline">Creative Commons Attribution-ShareAlike License</a>.
        </p>
        <p>
            Portions of the UXPH Code of Conduct were derived from the following:
        </p>
        <ul>
            <li>
                <a href="https://pwdo.org/conduct" target="_blank" class="blue underline">
                    PWDO Code of Conduct
                </a>
            </li>
            <li>
                <a href="https://confcodeofconduct.com/" target="_blank" class="blue underline">
                    Conference Code of Conduct
                </a>
            </li>
            <li>
                <a href="https://geekfeminism.wikia.org/wiki/Conference_anti-harassment/Policy" target="_blank" class="blue underline">
                    Geek Feminism Anti-Harassment Policy
                </a>
            </li>
            <li>
                <a href="https://creativemornings.com/pages/code-of-conduct" target="_blank" class="blue underline">
                    Creative Mornings Code of Conduct
                </a>
            </li>
        </ul>
    </div>
</section>
