<style>
    .blue{
        color: #15B0DE;
    }
    .red{
        color: #EC3558;
    }
    p{
       margin-top: 12px;
       opacity: 0.8; 
    }
    section h2{
        margin-top: 32px;
        margin-bottom: 4px;
    }

    #references li {
        margin-bottom: 16px;
        font-weight: 700;
        opacity: 0.8;
    }
</style>

<!-- COC page -->
<header class="bg-light">
    <div class="wrapper">
		<div class="padding-y-96">
            <div class="text-center">
            <h1 class="blue">Code of Conduct</h1>
            <h3 class="red margin-top-8">User Experience Philippines</h4>
            </div>
            <div class="padding-top-32">
                <h2>Introduction</h2>
                <p>
                    User Experience Philippines (also known as UXPH) is a Philippine design community of individuals passionate about the realm of User Experience (UX), and all things related. In line with community-building activities for the country, UXPH takes part in uplifting and holding standards for the community and its members, its conferences, and its events.
                </p>
            </div>
		</div>
	</div>
</header>
<section class="padding-top-64 padding-bottom-96">
    <div class="wrapper">
            <h2 class="margin-bottom-32">Harassment, Discrimination, and Offenses</h2>
            <p>Harassment includes offensive verbal comments related to SOGIE (Sexual Orientation, Gender Identity and Expression), age, different ability and/or disability, 
                physical appearance, body size, race, ethnicity, religion, cultural beliefs, technology choices, sexual images in public spaces, deliberate intimidation, stalking, 
                following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention.</p>
            <p>Participants asked to stop any harassing behavior are expected to comply immediately.</p>                    
            <p>Sponsors are also subject to the anti-harassment policy. In particular, sponsors should not use sexualised images, activities, or other material. Booth staff 
                (including volunteers) should not use sexualised clothing/uniforms/costumes, or otherwise create a sexualised environment.</p>
            <p>If anyone engages in harassing behavior, the conference organisers and/or volunteers may take any action they deem appropriate, including warning the offender or 
                expulsion from the conference with no refund.</p>
            <p>If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a member of conference staff immediately. 
                Conference staff can be identified as they'll be wearing branded clothing and/or badges.</p>
            <p>Conference staff will be happy to help participants contact hotel/venue security or local law enforcement, provide escorts, or otherwise assist those experiencing 
                harassment to feel safe for the duration of the conference. We value your attendance.</p>                
            <p>We expect participants to follow these rules at conference and workshop venues and conference-related social events. <a href="#1"><sup class="blue">[1]</sup></a></p>

            <h2 class="margin-bottom-32 margin-top-64">Privacy</h2>
            <p>UXPH holds and collects data for events mainly for identification and transactional purposes only. It is our policy to store these and not share these without your consent in accordance to PH Republic Act 10173 <a href="#2"><sup class="blue">[2]</sup></a>. Please contact us at <span class="blue">info@uxph.org</span> if you have any specific concerns with Privacy and the data we collect for events.
            </p>

            <h2 class="margin-bottom-32 margin-top-64">Participants, Refunds, and No-Shows</h2>
            <p>Events and initiatives organised by UXPH follow certain themes; nevertheless, these are to be considered professional and enjoyable in line with the Code of Conduct to be followed by everyone present in events.          
            </p>
            <p>Refunds for tickets are not honoured by UXPH but are transferable. Please contact us at info@uxph.org and cc the details of the attending participant/s to us for transfers and concerns.</p>
            <p>If you seem incapable of attending the event, please contact us immediately at info@uxph.org with your justification.</p>
            <p>UXPH organisers, members, its participants, and partners (including sponsors) are expected to acknowledge and abide by the written terms of this Code of Conduct. UXPH will not tolerate violation and misrepresentation of the organisation as well as harassment (as stated in the <i>Harassment, Discrimination, and Offenses</i> section) and will enforce possible expulsion or blacklisting by the community if deemed sufficient as decided by the UXPH organisers.</p>
            
            <h2 class="margin-bottom-32 margin-top-64">References: </h2>
            <ol id="references">
                <li id ="1">Modified from — Conference Code of Conduct <a href="https://confcodeofconduct.com/" class="blue">https://confcodeofconduct.com/</a></li>
                <li id ="2">Republic Act 10173 — Data Privacy Act of 2012, <a href="https://confcodeofconduct.com/" class="blue">https://www.privacy.gov.ph/data-privacy-act/</a></li>
                <li>PWDO Code of Conduct, <a href="https://www.pwdo.org/conduct" class="blue">https://www.pwdo.org/conduct</a></li>
                <li>Conference Anti-harassment/Policy, <span href="https://geekfeminism.wikia.org/wiki/Conference_anti-harassment/Policy" class="blue">https://geekfeminism.wikia.org/wiki/Conference_anti-harassment/Policy</span></li>
            </ol>
    </div>
</section>
<link rel="stylesheet" type="text/css" href="../css/sponsorships.css" />