<style>
    section p{
       margin-top: 24px;
       opacity: 0.8;
    }
    section h2{
        margin-top: 96px;
        margin-bottom: 4px;
    }

    #references li {
        margin-bottom: 16px;
        font-weight: 700;
        opacity: 0.8;
    }

    section div.wrapper ul li {
        line-height: 2rem;
    }

    section h3,  section h4{
        margin-top: 36px;
    }

    #coc-header {
        position: relative;
    }

    #coc-header::before {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: url(../assets/images/coc-bg.jpg);
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        opacity: 0.2;
        content: "";
        z-index: 0;
    }

    #coc-header * {
        color: white !important;
    }

    #coc-header > * {
        position: relative;
        z-index: 300;
    }
</style>

<!-- COC page -->
<header id="coc-header" class="bg-dark padding-y-96">
    <div class="wrapper">
		<div>
            <div class="margin-bottom-32">
                <h1 class="">Code of Conduct</h1>
                <h3 class="text-secondary margin-top-8">User Experience Philippines</h3>
            </div>
            <div class="padding-top-32">
                <h2 class="margin-bottom-32">Our commitment to our community</h2>
                <p>
                    Our aim in hosting events is to offer a positive a safe environment within the community. Just like we believe that more diverse teams build better products, we know that diverse representation at events ultimately creates a stronger community. To that end, our goal is to create an environment where everyone feels welcome to participate, speak up, ask questions, and engage in conversation. We invite all those who participate in this event to help us create safe and positive experiences for everyone.
                </p>
                <p>
                    We follow a Code of Conduct for all our events in order to create the best experience possible for all attendees. Before you participate in a UXPH event, please review the Code of Conduct below.
                </p>
            </div>
		</div>
	</div>
</header>
<section class="padding-bottom-96 padding-top-24">
    <div class="wrapper">
            <h2>The UXPH Code of Conduct</h2>
                <p>All organizers, attendees, members, speakers, sponsors, vendors, partners, and volunteers at UXPH conferences/events/environments are required to adhere to the following Code of Conduct. UXPH event organizers will enforce this Code throughout the event as well as the online community.</p>
                <h3>Expected Behavior</h3>
                <ul>
                    <li>Participate in an authentic and active way. In doing so, you contribute to the health and longevity of the community and its mission.</li>
                    <li>Exercise consideration and respect in your speech, actions, and the content you share.</li>
                    <li>Attempt collaboration before conflict. </li>
                    <li>Refrain from using or sharing demeaning, discriminatory, harassing behavior, speech, or content.</li>
                    <li>Be mindful of your surroundings and of your fellow participants. Alert community leaders if you notice a dangerous situation, someone in distress, or violations of this Code of Conduct, even if they seem inconsequential.</li>
                    <li>hare and promote content that contributes to conversation, growth and learning of the community. Self-promotion and other content that doesn't contribute to discussion or the benefit of others will be removed.</li>
                </ul>
                <p>Event participants violating these rules may be sanctioned or expelled from the event/conference/online community without a refund at the discretion of the organizers. Participants asked to stop any harassing behavior are expected to comply immediately.</p>

            <h2>Harassment, Discrimination, and other Unacceptable Behavior</h2>
                <p>Every UXPH event/ conference is dedicated to providing a harassment-free environment for everyone, regardless of their background and personal preferences.</p>

                <h4>Harassment includes:</h4>
                <ul>
                    <li>harmful or prejudicial verbal or written comments related to gender, sexual orientation, race, religion, disability;</li>
                    <li>inappropriate use of nudity and/or sexual images (including presentation slides and links) or creating a sexualized environment;</li>
                    <li>inappropriate depictions of violence (including presentation slides and links);</li>
                    <li>deliberate intimidation, stalking or following; harassing photography or recording;</li>
                    <li>sustained disruption of talks or other events;</li>
                    <li>inappropriate physical contact, and unwelcome sexual attention</li>
                </ul>

                <p>If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a member of conference staff immediately.
                    Event staff can be identified as they'll be wearing branded clothing and/or badges. Event staff will be happy to help participants contact venue security
                    or local law enforcement, provide escorts, or otherwise assist those experiencing harassment to feel safe for the duration of the event. If you'd like to
                    report an incident after an event, please send a report to <span class="blue"><u>info@uxph.org</u></span>.</p>

            <h3>Consequences of unacceptable behavior</h3>
            <p>Unacceptable behavior from any UXPH community member, including sponsors and those with decision-making authority, will not be tolerated. Anyone asked to stop unacceptable behavior is expected to comply immediately.</p>
            <p>If a UXPH community member engages in unacceptable behavior, the community
                organizers may take any action they deem appropriate, up to and including a temporary ban or permanent expulsion from the community without warning (and without refund in the case of a paid event).</p>

            <h2>Ticket Refunds, Transfers, and No-Shows</h2>
                <p>All activities and events organized by the UXPH Community are carefully planned and well thought of, as every cent that goes to the funding of our activities and events as a non-profit organization are very important. Paid tickets by UXPH are non-refundable but are transferable; please contact us at <span class="blue"><u>info@uxph.org</u></span> and cc the details of the attending participant/s to us for transfers and concerns.</p>
                <p>Attendance to all UXPH activities and events are tracked and require an RSVP from attendees unless otherwise stated or explicitly invited. Currently, UXPH uses <u>Eventbrite.com</u> for event ticketing and tracking purposes.</p>
                <p>UXPH does not tolerate any form of gatecrashing to our activities and events. We reserve the right to deny entry to anyone who had previously been found violating this Code of Conduct or had failed to RSVP to any of our activities or event. This is done to ensure that all those who RSVPd will be accommodated. Registrants who fail to attend without canceling his/her RSVP can be barred from signing-up for our future activities and events.</p>
                <p>If you seem incapable of attending the event and have a slot reserved, please vacate the seat as soon as possible so another attendee may avail of it or please contact us immediately at <span class="blue"><u>info@uxph.org</u></span>.</p>

            <h2>Privacy, Photo, and Video disclaimer</h2>
                <p>UXPH holds and collects data for events mainly for identification, organization, and transactional purposes only. It is our policy to store these and not share these in accordance to <b>PH Republic Act 10173.</b> UXPH will never distribute, sell (in exchange for monetary or non-monetary value), nor share participant and member data or information to anyone outside of the organization without written consent from the respective data subject/s.
                </p>
                <p>When we host events, we often have a photographer or videographer capturing the event. By attending the event you agree to be photographed or recorded, and you agree that UXPH will be the sole copyright owner of such media. UXPH reserves the right to use any media taken at any event hosted by UXPH without the express written permission of those included within the media, and you waive any rights therein. UXPH may use the photo or recording in publications or other media material produced, used or contracted by UXPH including but not limited to: brochures, invitations, books, newspapers, magazines, television, websites, etc. </p>
                <p>If you seem incapable of attending the event, please contact us immediately at <span class="blue"><u>info@uxph.org</u></span> with your justification.</p>
                <p>We do attempt to respect each individual’s preferences for privacy — please feel free to speak with our photographers/videographers if for any reason you would rather not be filmed or photographed. You may also contact <span class="blue"><u>info@uxph.org</u></span> for any other concerns.</p>

                <p id ="2">Republic Act 10173 — Data Privacy Act of 2012, <a href="https://confcodeofconduct.com/" class="blue">https://www.privacy.gov.ph/data-privacy-act/</a></p>
    </div>
</section>
