<style>
    /* Events stylesheet */
    button{
        border-radius: 8px;
        background-color: #c4c4c4;
        font-size: 12px;
        font-weight: bold;
        box-shadow: none;
        border-style: none;
    }

    .unselected{
	background-color: #E2E2E2;
	transition: 0.3s;
}
.sort{
	margin-right: 16px;
	border-radius: 40px; 
}
.unselected:hover{
	background-color: #c4c4c4;	
}
.timestamp{
	color: #989898; 
	font-size: 16px; 
	line-height:23px;
}
.img_article{
	background-color: #c4c4c4; 
	border-radius: 12px; 
	min-height: 174px;
	min-width: 174px;
	max-height: 174px;
	max-width: 174px;
}

</style>
<!-- Events page -->
<header class="bg-light">
    <div class="wrapper">
		<div class="padding-y-96">
            <h1>Featured Event</h1>
            <div class="padding-top-32 d-flex">
                <div class="img_article"></div>
                <div class="margin-left-32">
                    <h2>Do UXsee What I See?</h2>
                    <p class="margin-y-8 timestamp"> January 29, 2020 - 7pm - Cignal HQ</p>
                    <p>Join us and 5 UX leaders as they share their insights on the State of UX in 2020. 
                    </p>
                    <div class="margin-y-8">
                        <button class="padding-x-24 padding-y-12 margin-right-8">Get Tickets</button>            
                        <button class="unselected padding-x-24 padding-y-12">Become a Speaker</button>            
                    </div>
                </div>
            </div>
		</div>
	</div>
</header>
<section class="padding-y-96">
    <div class="wrapper">
        <div class="d-flex padding-bottom-24">
            <button class="sort unselected padding-x-24 padding-y-12">All</button>            
            <button class="sort unselected padding-x-24 padding-y-12">Upcoming Events</button>            
            <button class="sort padding-x-24 padding-y-12">Past Events</button>            
        </div>
        <div class="padding-y-24 d-flex">
            <div class="img_article"></div>
            <div class="margin-left-32">
                <h2>Enim rhoncus imperdiet congue.</h2>
                <p class="margin-y-8 timestamp"> January 29, 2020 - 7pm - Cignal HQ</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus ac varius pharetra sem sodales tellus pellentesque a.</p>
                <div class="margin-y-12">
                    <button class="padding-x-24 padding-y-12 margin-right-8">Read More</button>            
                </div>
            </div>
        </div>
        <div class="padding-y-24 d-flex">
            <div class="img_article"></div>
            <div class="margin-left-32">
                <h2>Enim rhoncus imperdiet congue.</h2>
                <p class="margin-y-8 timestamp"> January 29, 2020 - 7pm - Cignal HQ</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus ac varius pharetra sem sodales tellus pellentesque a.</p>
                <div class="margin-y-12">
                    <button class="padding-x-24 padding-y-12 margin-right-8">Read More</button>            
                </div>
            </div>
        </div>
        <div class="padding-y-24 d-flex">
            <div class="img_article"></div>
            <div class="margin-left-32">
                <h2>Enim rhoncus imperdiet congue.</h2>
                <p class="margin-y-8 timestamp"> January 29, 2020 - 7pm - Cignal HQ</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus ac varius pharetra sem sodales tellus pellentesque a.</p>
                <div class="margin-y-12">
                    <button class="padding-x-24 padding-y-12 margin-right-8">Read More</button>            
                </div>
            </div>
        </div>
        <div class="padding-y-24 d-flex">
            <div class="img_article"></div>
            <div class="margin-left-32">
                <h2>Enim rhoncus imperdiet congue.</h2>
                <p class="margin-y-8 timestamp"> January 29, 2020 - 7pm - Cignal HQ</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus ac varius pharetra sem sodales tellus pellentesque a.</p>
                <div class="margin-y-12">
                    <button class="padding-x-24 padding-y-12 margin-right-8">Read More</button>            
                </div>
            </div>
        </div>


    </div>
</section>

<!--<link rel="stylesheet" type="text/css" href="../css/events.css" />!-->
