<!-- FAQ page -->
<style type="text/css">
	#topic-select > small {
		display: block;
		cursor: pointer;
		margin-bottom: var(--value-16);
		padding-left: var(--value-16);
		transition: ease all 0.2s;
		line-height: var(--value-24);
		border-left: thick solid transparent;
	}

	#topic-select > small.active {
		color: var(--main-blue) !important;
		border-color: var(--main-blue) !important;
	}

	#topic-select > small:hover {
		color: var(--main-red) !important;
		border-color: var(--main-red) !important
	}
</style>

<header id="faq-header" class="padding-y-96">
	<div class="wrapper">
		<h1 class="margin-bottom-64">Frequently Asked Questions</h1>
		<div class="d-flex justify-content-between">
			<div class="margin-right-48 width-384" id="topic-select">
				<small class="active text-secondary"><b>All topics</b></small>
				<small class="text-secondary"><b>Code of Conduct</b></small>
				<small class="text-secondary"><b>Community and Volunteering</b></small>
				<small class="text-secondary"><b>Events</b></small>
				<small class="text-secondary"><b>Certificates</b></small>
				<small class="text-secondary"><b>Conferences</b></small>
				<small class="text-secondary"><b>Purchases</b></small>
			</div>
			<div>
				{{ range .Site.Data.faq }}
					<div class="margin-bottom-64">
						<h2 class="margin-bottom-12">{{ .Q }}</h2>
						<p>{{ .A }}</p>
					</div>
				{{ end }}
			</div>
		</div>
	</div>
</header>
