<header
  class="padding-y-96"
  id="homepage-header"
  style="
    background-color: white;
    background-image: url(../assets/images/projects/cover_elements.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  "
>
  <div class="wrapper">
    <div class="d-flex justify-content-between" id="featured-project">
      <div class="min-width-256 margin-right-32">
        <img
          src="{{.Site.Data.research.featuredProject.projectSoup.squareImg}}"
          class="width-256 height-256 d-block featured-image shadow"
          alt="{{.Site.Data.research.featuredProject.projectSoup.title}}"
          style="position: sticky; top: 100px"
        />
      </div>
      <div>
        <h3 class="gray margin-bottom-12">
          {{.Site.Data.research.featuredProject.projectSoup.title}}
        </h3>
        <h1 class="font-size-24 margin-bottom-4">
          {{.Site.Data.research.featuredProject.projectSoup.fullTitle}}
        </h1>
        <div class="margin-bottom-16">
          <p>
            <strong class="blue">Target date: </strong>
            {{.Site.Data.research.featuredProject.projectSoup.date}}
          </p>
        </div>
        <a
          href="{{.Site.Data.research.featuredProject.projectSoup.surveyLink}}"
          class="button margin-bottom-48"
        >
          Answer the survey
        </a>
        <h3
          class="gray text-uppercase font-weight-bold margin-bottom-12 font-size-16"
        >
          About this paper
        </h3>
        <p class="margin-bottom-32 description">
          {{.Site.Data.research.featuredProject.projectSoup.description}}
        </p>
        <div class="d-flex">
          <div class="margin-right-16">
            <em class="font-size-12 font-weight-bold blue"> Keywords: </em>
          </div>
          <div>
            {{range .Site.Data.research.featuredProject.projectSoup.keywords}}
            <div class="chip margin-right-4 margin-bottom-4">
              <small> {{.}} </small>
            </div>
            {{end}}
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<link rel="stylesheet" type="text/css" href="../css/chip.css" />
<link rel="stylesheet" type="text/css" href="../css/research.css" />
