<!-- Sponsorships page -->
<style>
	.img-caption{
		margin-top: -205px;
		position:relative;
		z-index: 10;
		height: 55%;
	}
	.img-caption p{
		width: 560px;
		font-size: 14px;
	}

</style>
<header id="sponsorships-header" class="bg-light padding-y-96 auto-hidden">
	<div class="wrapper">
		<div class="w-75" id="sponsorships-header-content">
			<p class="text-white font-size-24 margin-bottom-24">Sponsorships</p>
			<h1 class="text-white">{{ .Site.Data.sponsorships.blurb.name }}</h1>
			<p class="text-white margin-top-16">
				{{ .Site.Data.sponsorships.blurb.description }}
				<br/><br/>
				Send us an email at <strong>partnerships@uxph.org</strong> or download our Sponsorship Package to get started.
			</p>
		</div>
	</div>
</header>

<section class="padding-y-48 padding-top-96 auto-hidden" id="sponsorships-section">
	<div class="wrapper">
		<div class="d-flex justify-content-between">
			<div class="mr-3 w-50 margin-bottom-32 sponsorship-item">
				<img src="{{ .Site.Data.sponsorships.sponsorships.sponsorship.image_url }}" class="d-block w-100 border-radius-12" />
				<h2 class="margin-top-32">{{ .Site.Data.sponsorships.sponsorships.sponsorship.name }}</h2>
				<p class="margin-top-16">
					{{ .Site.Data.sponsorships.sponsorships.sponsorship.description }}
					<a href="mailto:partnerships@uxph.org" class="blue">partnerships@uxph.org</a>.
				</p>
			</div>
			<div class="ml-3 w-50 margin-bottom-32 sponsorship-item">
				<img src="{{ .Site.Data.sponsorships.sponsorships.host_uxph_event.image_url }}" class="d-block w-100 border-radius-12" />
				<h2 class="margin-top-32">{{ .Site.Data.sponsorships.sponsorships.host_uxph_event.name }}</h2>
				<p class="margin-top-16">
					{{ .Site.Data.sponsorships.sponsorships.host_uxph_event.description }}
				</p>
			</div>
		</div>
	</div>
</section>

<section class="padding-y-48 padding-bottom-128" id="sponsors-section">
	<div class="wrapper">
		<h1 class="margin-bottom-32">Our Community Partners</h1>
		<div id="community-partners-feed">
			{{ range .Site.Data.sponsors.community_partners }}
				<img src="../{{ .image_url }}" alt="{{ .name }}" class="featured-image" />
			{{ end }}
		</div>
	</div>
</section>

<link rel="stylesheet" type="text/css" href="../css/sponsorships.css" />
