<!-- Sponsorships page -->
<header id="sponsorships-header" class="bg-light padding-y-96 auto-hidden">
	<div class="wrapper">
		<div class="" id="sponsorships-header-content">
			<p class="text-white font-size-24 margin-bottom-24">Sponsorships</p>
			<h1 class="text-white">{{ .Site.Data.sponsorships.blurb.name }}</h1>
			<p class="text-white margin-top-16">
				{{ .Site.Data.sponsorships.blurb.description }}
				<br/><br/>
				Send us an email at <strong><a href="mailto:partnerships@uxph.org" class="link">partnerships@uxph.org</a></strong> or download our Sponsorship Package to get started.
			</p>
		</div>
	</div>
</header>

<section class="padding-y-48 padding-top-96 auto-hidden" id="sponsorships-section">
	<div class="wrapper">
		<div class="d-flex justify-content-between">
			<div class="mr-3 w-50 margin-bottom-32 sponsorship-item">
				<img src="{{ .Site.Data.sponsorships.sponsorships.sponsorship.image_url }}" class="d-block w-100 border-radius-12" alt="{{ .Site.Data.sponsorships.sponsorships.sponsorship.name }}" />
				<h2 class="margin-top-32">{{ .Site.Data.sponsorships.sponsorships.sponsorship.name }}</h2>
				<p class="margin-top-16">
					{{ .Site.Data.sponsorships.sponsorships.sponsorship.description }}
					<a href="mailto:partnerships@uxph.org" class="blue link">partnerships@uxph.org</a>.
				</p>
			</div>
			<div class="ml-3 w-50 margin-bottom-32 sponsorship-item">
				<img src="{{ .Site.Data.sponsorships.sponsorships.host_uxph_event.image_url }}" class="d-block w-100 border-radius-12" alt="{{ .Site.Data.sponsorships.sponsorships.host_uxph_event.name }}" />
				<h2 class="margin-top-32">{{ .Site.Data.sponsorships.sponsorships.host_uxph_event.name }}</h2>
				<p class="margin-top-16">
					{{ .Site.Data.sponsorships.sponsorships.host_uxph_event.description }}
				</p>
			</div>
		</div>
	</div>
</section>

<section class="padding-y-96 bg-light">
	<div class="wrapper">
		<h2 class="text-body font-size-32">Sponsorship Perks</h2>
		<div id="sponsorship-perks">
			<!-- First row  -->
			<div class="d-flex flex-wrap flex-row bd-highlight mb-3 padding-top-32">
				<div class="p-2 bd-highlight perk-wrapper w-50">
					<div class = "d-flex flex-row bd-highlight mb-3">
						<!-- Circle -->
						<div class="bg-blue rounded-circle p-2 bd-highlight"
						style="min-width:35px; height:35px; vertical-align: middle;">
							<i class="{{.Site.Data.sponsorships.perks.perk1.icon}} text-white margin-left-4"></i>
						</div>

						<!-- Content -->
						<div class="margin-left-16 p-2 bd-highlight perk-content">
							<h3 class="text-body">{{.Site.Data.sponsorships.perks.perk1.name}}</h3>
							<br>
							<p>{{.Site.Data.sponsorships.perks.perk1.description}}</p>
						</div>
					</div>
				</div>
				<div class="p-2 bd-highlight margin-left-32 perk-wrapper w-50">
					<div class="d-flex flex-row bd-highlight mb-3">

						<!-- Circle -->
						<div class = "bg-blue rounded-circle p-2 bd-highlight"
						style="min-width:35px; height:35px; vertical-align: middle;">
							<i class="{{.Site.Data.sponsorships.perks.perk2.icon}} text-white"></i>
						</div>

						<!-- Content -->
						<div class="margin-left-16 p-2 bd-highlight perk-content">
							<h3 class="text-body">{{.Site.Data.sponsorships.perks.perk2.name}}</h3>
							<br>
							<p>
								{{.Site.Data.sponsorships.perks.perk2.description}}
							</p>
						</div>
					</div>
				</div>
				<div class="p-2 bd-highlight perk-wrapper w-50">
					<div class="d-flex flex-row bd-highlight mb-3">

						<!-- Circle -->
						<div class="bg-blue rounded-circle p-2 bd-highlight"
						style="min-width:35px; height:35px; vertical-align: middle;">
							<i class="{{.Site.Data.sponsorships.perks.perk3.icon}} text-white"></i>
						</div>

						<!-- Content -->
						<div class="margin-left-16 p-2 bd-highlight perk-content">
							<h3 class="text-body">{{.Site.Data.sponsorships.perks.perk3.name}}</h3>
							<br>
							<p>
								{{.Site.Data.sponsorships.perks.perk3.description}}
							</p>
						</div>
					</div>
				</div>
				<div class="p-2 bd-highlight margin-left-32 perk-wrapper w-50">
					<div class="d-flex flex-row bd-highlight mb-3">

						<!-- Circle -->
						<div class = "bg-blue rounded-circle p-2 bd-highlight"
						style="min-width:35px; height:35px; vertical-align: middle;">
							<i class="{{.Site.Data.sponsorships.perks.perk4.icon}} text-white margin-left-4"></i>
						</div>

						<!-- Content -->
						<div class="margin-left-16 p-2 bd-highlight perk-content">
							<h3 class="text-body">{{.Site.Data.sponsorships.perks.perk4.name}}</h3>
							<br>
							<p>
								{{.Site.Data.sponsorships.perks.perk4.description}}
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>

<section class="padding-y-96 padding-bottom-128" id="sponsors-section">
	<div class="wrapper">
		<h2 class="margin-bottom-32 text-center font-size-32">Our Community Partners</h2>
		<div id="community-partners-feed">
			{{ range sort .Site.Data.sponsors.community_partners ".id" "asc" }}
				<div class="padding-x-16 community-items">
					<div class="community-img text-center">
						<a href="{{ .link }}" target="blank">
							<img src="../{{ .image_url }}" alt="{{ .name }}" class="featured-image-2 shadow-sm rounded-circle margin-bottom-16" alt="{{ .name }}" />
						</a>
					</div>
					<a href="{{ .link }}" target="blank"><p class="text-center"><strong>{{ .name }}</strong></p></a>
				</div>
			{{ end }}
		</div>
	</div>
</section>

<style>
	.img-caption{
		margin-top: -205px;
		position:relative;
		z-index: 10;
		height: 55%;
	}
	.img-caption p{
		width: 560px;
		font-size: 14px;
	}

	.community-items{
		display: inline-block;
		width: var(--value-256);
		min-height: 120px;
		vertical-align: top;
	}
	.community-items a:hover{
		text-decoration: underline;
	}
	.community-img{
		margin-top: 72px;
		display: block;
		text-align: center;
	}

	.featured-image-2 {
		width: var(--value-96);
	}
	#role-responsibilties li,
	#role-requirements li,
	#what-you-learn li {
		line-height: 25px;
	}

	#position {
		height:78px;
		/*margin-top: -18rem;*/
		border: none;
		cursor: pointer;
		text-indent: 1rem;
		outline: none;
		font-family: 'Roboto', sans-serif;
		appearance: none;
	}

	.rounded-circle {
		color: #ddd;
		text-align: center;
	}
	.rounded-circle i {
		line-height: 34px;
		font-size: 24px !important;
	}

	#sponsorship-perks > div > div {
		flex: 1 0 33%;
	}

</style>

<link rel="stylesheet" type="text/css" href="../css/sponsorships.css" />
