<header id="sponsor-edition">
    <div class="wrapper">
        <div id="main-heading">
            <h1 class="red">Sponsorship</h1>
            <h1 class="blue larger">Opportunities</h1>
        </div>
        <div id="main-info">
            <div class="content-wrapper">

                <p>
                    <b>Contact Person:</b><br/>
                    Jordan Deja <br/><br/>
                    <b>Email Address: </b><br/>
                    info@uxph.org
                </p>
            </div>
        </div>
    </div>
</header>
{{ $placement := "left" }}
{{ range .Site.Data.partners }}
<section class="featured {{ if eq .placement $placement }}reversed{{ end }}">
    <div class="wrapper">
        <img src="../{{ .img }}" class="featured-image" />
        <div class="content-wrapper">
            <h2>{{ .role }}</h2>
            <p>
                {{ .description }}
                <br/><br/>
                <span class="hook"></span>
                <script type="text/javascript">
                    var x = {{ .hook }};
                    x = $.parseHTML(x);
                    $($(".hook")[$(".hook").length - 1]).append(x);
                </script>
            </p>
            <button>Download Package</button>
        </div>
    </div>
</section>
{{ end }}
<section class="meetup-featured pale">
    <div class="wrapper">
        <h2>Past Meetups</h2>
        <div class="column-content">
            <div class="featured-image"></div>
            <div class="featured-image"></div>
            <div class="featured-image"></div>
        </div>
        <div class="column-content">
            <div class="featured-image"></div>
            <div class="featured-image"></div>
            <div class="featured-image"></div>
        </div>
    </div>
</section>
