<style>
    .user-card{
        border-radius: 8px;
        width: auto;
        z-index: 99;
        position: relative;
        overflow: hidden;
        height: var(--value-384);
    }

    .user-card .featured-image {
        position: absolute;
        height: var(--value-384);
        top: 0;
        left: 0;
    }

    .hide{
    	display: none;
    }

    .read-more{
    	color: blue;
    	cursor: pointer;
    }
    .read-more:hover{
    	text-decoration: underline;
    }
</style>

<section id="meet-the-team" class="padding-y-96 position-relative">
	<img src="../assets/visuals/link-yellow.svg" class="visuals width-192" id="link-yellow-1" />
	<div class="wrapper">
		<h1 class="margin-bottom-48">Organizing Members</h1>
		<div class="margin-bottom-96">
			<h2 class="text-secondary margin-bottom-32">Board Members</h2>
			<div class="team-feed">
				{{ range .Site.Data.team.board_members }}
					<div class="margin-bottom-32">
						<div class="user-card shadow-sm bg-white padding-left-256">
                            <div class="featured-image bg-secondary width-256" style="background: url(../{{ .image_url }}); background-position: center; background-size: cover;">
                            </div>
                            <div class="padding-x-32 padding-y-32">
    							<div class="d-flex align-items-center margin-bottom-16">
    								<div>
    									<h2 class="blue">{{ .name }}</h2>
    									<p class="red">{{ .role }}</p>
                                    </div>
    							</div>
                                <div>
                                    {{ range .description }}
            							<p class="text-secondary margin-bottom-16">
            						        {{ . }}
            							</p>
                                    {{ end }}
                                </div>
                                <a href="{{ .linkedin }}" target="blank">
    								<i class="fab fa-linkedin fa-lg"></i>
    							</a>
                            </div>
						</div>
					</div>
				{{ end }}
			</div>
		</div>

		<div class="margin-bottom-48">
			<h2 class="text-secondary margin-bottom-32">Committee Leads</h2>
			<div class="team-feed">
                {{ range .Site.Data.team.committee_leads }}
					<div class="margin-bottom-32">
						<div class="user-card shadow-sm bg-white padding-left-256">
                            <div class="featured-image bg-secondary width-256" style="background: url(../{{ .image_url }}); background-position: center; background-size: cover;">
                            </div>
                            <div class="padding-x-32 padding-y-32">
    							<div class="d-flex align-items-center margin-bottom-16">
    								<div>
    									<h2 class="blue">{{ .name }}</h2>
    									<p class="red">{{ .role }}</p>
                                    </div>
    							</div>
                                <div>
                                    {{ range .description }}
            							<p class="text-secondary margin-bottom-16">
            						        {{ . }}
            							</p>
                                    {{ end }}
                                </div>
                                <a href="{{ .linkedin }}" target="blank">
    								<i class="fab fa-linkedin fa-lg"></i>
    							</a>
                            </div>
						</div>
					</div>
				{{ end }}
			</div>
		</div>
	</div>
</section>

<link rel="stylesheet" type="text/css" href="../css/about.css" />

<script>
function show(e){

	let f = e.parentElement;
	let exp_text = f.nextElementSibling;
	e.classList.toggle('hide');
	exp_text.classList.toggle('hide');

}

function hide(e){

	let f = e.parentElement.parentElement;
	console.log(f);
	let readmore = f.previousElementSibling.getElementsByClassName('read-more')[0];

	console.log(readmore);
	f.classList.toggle('hide');
	readmore.classList.toggle('hide');

}

</script>
