<style>
    .user-card{
        border: 1.2px solid rgba(0,0,0,0.8);
        padding: 16px;
        margin: 8px;
        border-radius: 8px;
        box-shadow: 1px 3px 4px rgba(0,0,0,0.8);
        width: auto;
        z-index: 99;
        position: relative;

    }
    .user-card-compress{
        height: 75px;
        overflow: hidden;

    }
    .user-card-expand{
        overflow: unset;
        height: auto;

    }

    .read-more{
        position: absolute;
        right: 16px;
        font-size: 48px;
    }
    .read-more i{
        cursor: pointer;
        transition: 1s;
    }
    .read-more i:hover{
        text-shadow: 1px 3px 3px rgba(0,0,0,0.4);
    }
</style>

<section id="meet-the-team" class="padding-y-128 position-relative">
    <img src="../assets/visuals/link-yellow.svg" class="visuals width-192" id="link-yellow-1" />
    <div class="wrapper">
        <h1 class="margin-bottom-48">Organizing Members</h1>
        <div class="margin-bottom-48">
            <h2 class="text-secondary margin-bottom-32">Board Members</h2>
            <div class="d-flex justify-content-between flex-wrap team-feed">
                {{ range .Site.Data.team.board_members }}
                    <div class="d-flex margin-bottom-64 flex-column w-50">
                        <div class="user-card user-card-compress">
                            <div class="d-flex align-items-center margin-bottom-24">
                                <div class="featured-image rounded-circle bg-secondary mr-3"></div>
                                <div>
                                    <h2>{{ .name }}</h2>
                                    <p class="text-secondary">{{ .role }}</p>
                                </div>
                                <div class="read-more"><i class="fas fa-angle-down"></i></div>
                            </div>
                            {{ range .description }}
                                <p class="text-secondary margin-bottom-16 padding-right-16">
                                    {{ . }}
                                </p>
                            {{ end }}

                            <a href="{{ .linkedin }}" target="blank">
                                <i class="fab fa-linkedin fa-lg"></i>
                            </a>
                        </div>
                    </div>
                {{ end }}
            </div>
        </div>

        <div class="margin-bottom-48">
            <h2 class="text-secondary margin-bottom-32">Committee Leads</h2>
            <div class="d-flex justify-content-between flex-wrap team-feed">
                {{ range .Site.Data.team.committee_leads }}
                    <div class="d-flex margin-bottom-64 flex-column w-50">
                        <div class="user-card user-card-compress">
                            <div class="d-flex align-items-center margin-bottom-24">
                                <div class="featured-image rounded-circle bg-secondary mr-3"></div>
                                <div>
                                    <h2>{{ .name }}</h2>
                                    <p class="text-secondary">{{ .role }}</p>
                                </div>
                                <div class="read-more"><i class="fas fa-angle-down"></i></div>
                            </div>
                            {{ range .description }}
                                <p class="text-secondary margin-bottom-16 padding-right-16">
                                    {{ . }}
                                </p>
                            {{ end }}
                            <a href="{{ .linkedin }}" target="blank">
                                <i class="fab fa-linkedin fa-lg"></i>
                            </a>
                        </div>
                    </div>
                {{ end }}
            </div>
        </div>

        <div>
            <h2 class="text-secondary margin-bottom-32">Coordinators</h2>
            <div class="d-flex justify-content-between flex-wrap team-feed">
                {{ range .Site.Data.team.coordinators }}
                    <div class="d-flex margin-bottom-64 flex-column w-50">
                        <div class="user-card user-card-compress">
                            <div class="d-flex align-items-center margin-bottom-24">
                                <div class="featured-image rounded-circle bg-secondary mr-3"></div>
                                <div>
                                    <h2>{{ .name }}</h2>
                                    <p class="text-secondary">{{ .role }}</p>
                                </div>
                                <div class="read-more"><i class="fas fa-angle-down"></i></div>
                            </div>
                            {{ range .description }}
                                <p class="text-secondary margin-bottom-16 padding-right-16">
                                    {{ . }}
                                </p>
                            {{ end }}
                            <a href="{{ .linkedin }}" target="blank">
                                <i class="fab fa-linkedin fa-lg"></i>
                            </a>
                        </div>
                    </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>

<link rel="stylesheet" type="text/css" href="../css/about.css" />

<script>
        document.addEventListener('click', function(e) {
            e = e || window.event;
            var target = e.srcElement,
                target2 = target.closest('div.read-more>i');
                target = (target.closest('div.user-card'));

                if(target2 != null){
                    target2.classList.toggle('fa-angle-down');
                    target2.classList.toggle('fa-angle-up');
                    target.classList.toggle('user-card-compress');
                    target.classList.toggle('user-card-expand');
                }
            }, false);

</script>
