<!-- Volunteers page -->
<style>

	select.input-lg {
	  -webkit-appearance: none;
	  -moz-appearance: none;
	  -o-appearance: none;
	}

	select + i.fa {
	  float: right;
	  margin-top: -30px;
	  margin-right: 5px;
	  pointer-events: none;
	  background-color: #fff;
	  padding-right: 5px;
	}

	#role-responsibilties li,
	#role-requirements li {
		line-height: 25px; 
	}
	
	#position {
		height:78px;
		/*margin-top: -18rem;*/
		border: none;
		cursor: pointer;
		text-indent: 1rem;
		outline: none;
		font-family: 'Roboto', sans-serif;
		appearance: none;
	}
	ul li {
		padding: 4px 0px; 
	}

	.show_list{
		margin-top:0px;
		opacity: 1;
		transition: 2s;
		
	}
	.hide_list{
		margin-top: 50px;
		opacity: 0;
		position: absolute;
	}

</style>


<!-- Intro -->
<header id="volunteers-header" class="bg-light padding-y-96">
	<div class ="wrapper">
		<h1 class="font-size-32 text-body">Volunteer with UXPH</h1>
		<p class="margin-y-32">
			{{.Site.Data.volunteers.blurb.description}}
		</p>
	</div>
</header>

<!-- Volunteer Perks Section -->
<section class="bg-light padding-y-16 padding-bottom-96">
	<div class="wrapper">
		<h1 class="text-body font-size-32">Volunteer Perks</h1>

		<div id="volunteer-perks">
			<!-- First row  -->
			<div class="d-flex flex-row bd-highlight mb-3 padding-top-32">
				<div class="p-2 bd-highlight perk-wrapper">
					<div class = "d-flex flex-row bd-highlight mb-3">
						<!-- Circle -->
						<div class = "bg-dark rounded-circle p-2 bd-highlight" 
						style="width:35px; height:35px; vertical-align: middle;">
						</div>

						<!-- Content -->
						<div class="width-256 margin-left-24 p-2 bd-highlight perk-content">
							<h2 class = "text-body">{{.Site.Data.volunteers.perks.perk1.name}}</h2>
							<br>
							<p>{{.Site.Data.volunteers.perks.perk1.description}}</p>
						</div>
					</div>
				</div>
				<div class="p-2 bd-highlight margin-left-64 perk-wrapper">
					<div class="d-flex flex-row bd-highlight mb-3">

						<!-- Circle -->
						<div class = "bg-dark rounded-circle p-2 bd-highlight" 
						style="width:35px; height:35px; vertical-align: middle;">
						</div>

						<!-- Content -->
						<div class="width-256 margin-left-24 p-2 bd-highlight perk-content">
							<h2 class="text-body">{{.Site.Data.volunteers.perks.perk2.name}}</h2>
							<br>
							<p>
								{{.Site.Data.volunteers.perks.perk2.description}}
							</p>
						</div>
					</div>
				</div>
			</div>

			<!-- Second Row -->
			<div class="d-flex flex-row bd-highlight mb-3 padding-top-32">
				<div class="p-2 bd-highlight perk-wrapper">
					<div class = "d-flex flex-row bd-highlight mb-3 " >
						<!-- Circle -->
						<div class = "bg-dark rounded-circle p-2 bd-highlight" 
						style="width:35px; height:35px; vertical-align: middle;">
						</div>

						<!-- Content -->
						<div class = "width-256 margin-left-24 p-2 bd-highlight perk-content">
							<h2 class = "text-body">{{.Site.Data.volunteers.perks.perk3.name}}</h2>
							<br>
							<p>
								{{.Site.Data.volunteers.perks.perk3.description}}
							</p>
						</div>
					</div>
				</div>
				<div class="p-2 bd-highlight margin-left-64 perk-wrapper">
					<div class = "d-flex flex-row bd-highlight mb-3 " >
						<!-- Circle -->
						<div class = "bg-dark rounded-circle p-2 bd-highlight" 
						style="width:35px; height:35px; vertical-align: middle;">
						</div>

						<!-- Content -->
						<div class="width-256 margin-left-24 p-2 bd-highlight perk-content">
							<h2 class = "text-body">{{.Site.Data.volunteers.perks.perk4.name}}</h2>
							<br>
							<p>
								{{.Site.Data.volunteers.perks.perk4.description}}								
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="bg-light padding-y-16">
	<div class ="wrapper">
		<h1 class="text-body font-size-32 margin-y-32">Volunteer Openings</h1>
		<select onchange="getVal()" name="position" id="position" class=" margin-y-32 font-size-16 shadow w-100 bg-white border-radius-12">
			{{ range .Site.Data.volunteers.teams }}
				<option value="{{ .name }}">{{ .name }}</option>
			{{ end }}
		</select>
	</div>
</section>

<!-- Positions Available-->
<section class="bg-light padding-y-16" style="min-height: 250px;">
	<div class="wrapper">
		<h2 class="text-secondary">Positions Available</h2>
		<ul id="pos_events" class="show_list">
			{{ range .Site.Data.volunteers.teams.events.positions }}
				<li>{{ . }}</li>
			{{ end }}
		</ul>
		<ul id="pos_marketing" class="hide_list">
			{{ range .Site.Data.volunteers.teams.marketing.positions }}
				<li>{{ . }}</li>
			{{ end }}
		</ul>
		<ul id="pos_partners" class="hide_list">
			{{ range .Site.Data.volunteers.teams.partnerships.positions }}
				<li>{{ . }}</li>
			{{ end }}
		</ul>
		<ul id="pos_speakers" class="hide_list">
			{{ range .Site.Data.volunteers.teams.speakers.positions }}
				<li>{{ . }}</li>
			{{ end }}
		</ul>
		<ul id="pos_web" class="hide_list">
			{{ range .Site.Data.volunteers.teams.web_team.positions }}
				<li>{{ . }}</li>
			{{ end }}
		</ul>

	</div>
</section>


<!-- Responsibilities Section -->
<section>
	<div class="wrapper">
		<h1 class="margin-top-96 font-size-32 text-body">
		   {{ .Site.Data.volunteers.web_team.name }}</h1>
		<p class="margin-top-32 margin-bottom-48">
		   {{ .Site.Data.volunteers.web_team.description }}
		</p>

		<h2 class="text-secondary">Responsibilities</h2>
		<ul class="text-body padding-top-16" id="role-responsibilties">
			{{ range .Site.Data.volunteers.web_team.responsibilities }}
				<li>{{ . }}</li>
				<br>
			{{ end }}
		</ul>
	</div>
</section>

<!-- Requirements Section -->
<section>
	<div class="wrapper padding-top-32">
		<h2 class="text-secondary">Requirements</h2>
		<ul class= "text-body padding-top-16" id="role-requirements">
			{{ range .Site.Data.volunteers.web_team.requirements }}
				<li>{{ . }}</li>
				<br>
			{{ end }}
		</ul>
	</div>
</section>

<!-- What You'll Learn Section -->
<section class="padding-bottom-96">
	<div class="wrapper padding-top-32">
		<h2 class="text-secondary">What You'll Learn</h2>

		<ul class= "text-body padding-top-16" id="role-requirements">
			{{ range .Site.Data.volunteers.web_team.learn }}
				<li>{{ . }}</li>
				<br>
			{{ end }}
		</ul>

		<p class="text-body padding-top-32 margin-bottom-32">
			Please send all you CV/Resume and cover letter (optional) to 
			recruitment@uxph.org and we'll get back to you at the soonest for a chat!
		</p>
		<button class="padding-x-32 padding-y-12 rounded-lg margin-bottom-32">
			Download Role Description
		</button>
	</div>
</section>

<script>
function getVal(){
	posVal = document.getElementById("position").value;
	
	var events = document.getElementById('pos_events');
	var marketing = document.getElementById('pos_marketing');
	var speaker = document.getElementById('pos_speakers');
	var partners = document.getElementById('pos_partners');
	var web = document.getElementById('pos_web');

	var list = [events, marketing, speaker, partners, web];

	switch(posVal){
		case "Events":
			l = 0;
			break;
		case "Marketing":
			l = 1;
		break;
		case "Speakers and Workshop":
			l = 2;
		break;
		case "Partnerships":
			l = 3;
		break;
		case "Web":
			l = 4;
		break;
		default:
			l = 0;
		break;
	}

	console.log(l);
	for(i = 0; i < 5; i++){
		if(i === l){
			list[i].classList.add("show_list");
			list[i].classList.remove("hide_list");						
			console.log(list[i]);
		}else{
			if(list[i].classList.contains("show_list"))
				list[i].classList.remove("show_list");
			if(list[i].classList.contains("hide_list") !== 0)
				list[i].classList.add("hide_list");						
		}
	}
}
</script>