<!-- Positions Available-->
<section class="padding-y-96 auto-hidden" id="position-select-section">
	<div class="wrapper">
		<div class="d-flex justify-content-between">
			<div class="position-relative">
				<div class="white-shadow"></div>
				<div class="margin-right-48" id="position-select">
					{{ range .Site.Data.volunteers.teams }}
						<small class="text-secondary d-block margin-bottom-16 select-option font-size-16" data-id="{{ .name }}">{{ .name }}</small>
						<script type="text/javascript">
							addContent(
								{{ .name }},
								{{ .responsibilities }},
								{{ .requirements }},
								{{ .learn }},
								{{ .description }}
							);
						</script>
					{{ end }}
				</div>
			</div>
			<div>
				<h1 class="mb-4" id="role-name">{{ .Site.Data.volunteers.teams.event_coordinator.name }}</h1>
				<p class="mb-5" id="role-description">
					{{ .Site.Data.volunteers.teams.event_coordinator.description }}
				</p>
				<div>
					<h2 class="text-secondary">Responsibilities</h2>
					<ul class="text-body" id="role-responsibilties">
						{{ range .Site.Data.volunteers.teams.event_coordinator.responsibilities }}
							<li>{{ . }}</li>
						{{ end }}
					</ul>
				</div>
				<br/>
				<div>
					<h2 class="text-secondary">Requirements</h2>
					<ul class="text-body" id="role-requirements">
						{{ range .Site.Data.volunteers.teams.event_coordinator.requirements }}
							<li>{{ . }}</li>
						{{ end }}
					</ul>
				</div>
				<br/>
				<div>
					<h2 class="text-secondary">What You'll Learn</h2>
					<ul class="text-body" id="what-you-learn">
						{{ range .Site.Data.volunteers.teams.event_coordinator.learn }}
							<li>{{ . }}</li>
						{{ end }}
					</ul>
				</div>
				<br/>
				<a href="https://forms.gle/3Yc5AP7bAwqTHLGQ9" target="blank">
					<button>Sign up for this role</button>
				</a>
			</div>
		</div>
	</div>
</section>
