<!-- Volunteers page -->
<style>

	select.input-lg {
	  -webkit-appearance: none;
	  -moz-appearance: none;
	  -o-appearance: none;
	}

	select + i.fa {
	  float: right;
	  margin-top: -30px;
	  margin-right: 5px;
	  pointer-events: none;
	  background-color: #fff;
	  padding-right: 5px;
	}

	#role-responsibilties li,
	#role-requirements li {
		line-height: 25px; 
	}
	
	#position {
		height:78px;
		/*margin-top: -18rem;*/
		border: none;
		cursor: pointer;
		text-indent: 1rem;
		outline: none;
		font-family: 'circular', sans-serif;
		appearance: none;
	}

</style>


<!-- Intro -->
<header id="volunteers-header" class="bg-light padding-y-96">
	<div class ="wrapper">
		<h1 class="font-size-32 text-body">Be part of the organizing team</h1>
		<p class="margin-y-32">
			We are seeking motivated individuals who want to help the organization grow and engage the greater design community, 
			while gaining valuable experience and skills from it.
			<br><br>
			Check out the roles below and send your applications to 
			info@uxph.org! Please note that all roles are completely 
			volunteer-based.
		</p>
		<select name="position" id="position" class="font-size-16 shadow w-100 bg-white border-radius-12">
			{{ range .Site.Data.volunteers }}
				<option value="{{ .name }}">{{ .name }}</option>
			{{ end }}
		</select>
	</div>
</header>

<!-- Responsibilities Section -->

<section>
	<div class="wrapper">
		<h1 class="margin-top-96 font-size-32 text-body">
		   {{ .Site.Data.volunteers.web_team.name }}</h1>
		<p class="margin-top-32 margin-bottom-48">
		   {{ .Site.Data.volunteers.web_team.description }}
		</p>

		<h2 class="text-secondary">Responsibilities</h2>
		<ul class="text-body padding-top-16" id="role-responsibilties">
			{{ range .Site.Data.volunteers.web_team.responsibilities }}
				<li>{{ . }}</li>
				<br>
			{{ end }}
		</ul>
	</div>
</section>

<!-- Requirements Section -->
<section>
	<div class="wrapper padding-top-32">
		<h2 class="text-secondary">Requirements</h2>
		<ul class= "text-body padding-top-16" id="role-requirements">
			{{ range .Site.Data.volunteers.web_team.requirements }}
				<li>{{ . }}</li>
				<br>
			{{ end }}
		</ul>
	</div>
</section>

<!-- What You'll Learn Section -->
<section class="padding-bottom-96">
	<div class="wrapper padding-top-32">
		<h2 class="text-secondary">What You'll Learn</h2>
		<ul class= "text-body padding-top-16" id="role-requirements">
			{{ range .Site.Data.volunteers.web_team.learn }}
				<li>{{ . }}</li>
				<br>
			{{ end }}
		</ul>

		<p class="text-body padding-top-32 margin-bottom-32">
			Please send all you CV/Resume and cover letter (optional) to 
			recruitment@uxph.org and we'll get back to you at the soonest for a chat!
		</p>
		<button class="padding-x-32 padding-y-12 rounded-lg margin-bottom-32">
			Download Role Description
		</button>
	</div>
</section>

<!-- Volunteer Perks Section -->

<section class="bg-light padding-y-96">
	<div class="wrapper">
		<h1 class="text-body font-size-32">Volunteer Perks</h1>

		<div id="volunteer-perks">
			<!-- First row  -->
			<div class="d-flex flex-row bd-highlight mb-3 padding-top-32">
				<div class="p-2 bd-highlight perk-wrapper">
					<div class = "d-flex flex-row bd-highlight mb-3">
						<!-- Circle -->
						<div class = "bg-dark rounded-circle p-2 bd-highlight" 
						style="width:35px; height:35px; vertical-align: middle;">
						</div>

						<!-- Content -->
						<div class="width-256 margin-left-24 p-2 bd-highlight perk-content">
							<h2 class = "text-body">Non netus viverra.</h2>
							<br>
							<p>Lorem ipsum dolor sit amet,
								consectetur adipsicing elit. Nam at dictum nunc arcu id.</p>
						</div>
					</div>
				</div>
				<div class="p-2 bd-highlight margin-left-64 perk-wrapper">
					<div class="d-flex flex-row bd-highlight mb-3">

						<!-- Circle -->
						<div class = "bg-dark rounded-circle p-2 bd-highlight" 
						style="width:35px; height:35px; vertical-align: middle;">
						</div>

						<!-- Content -->
						<div class="width-256 margin-left-24 p-2 bd-highlight perk-content">
							<h2 class="text-body">Non netus viverra.</h2>
							<br>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipsicing elit. Nam at dictum nunc arcu id.
							</p>
						</div>
					</div>
				</div>
			</div>

			<!-- Second Row -->
			<div class="d-flex flex-row bd-highlight mb-3 padding-top-32">
				<div class="p-2 bd-highlight perk-wrapper">
					<div class = "d-flex flex-row bd-highlight mb-3 " >
						<!-- Circle -->
						<div class = "bg-dark rounded-circle p-2 bd-highlight" 
						style="width:35px; height:35px; vertical-align: middle;">
						</div>

						<!-- Content -->
						<div class = "width-256 margin-left-24 p-2 bd-highlight perk-content">
							<h2 class = "text-body">Non netus viverra.</h2>
							<br>
							<p>Lorem ipsum dolor sit amet,
								consectetur adipsicing elit. Nam at dictum nunc arcu id.</p>
						</div>
					</div>
				</div>
				<div class="p-2 bd-highlight margin-left-64 perk-wrapper">
					<div class = "d-flex flex-row bd-highlight mb-3 " >
						<!-- Circle -->
						<div class = "bg-dark rounded-circle p-2 bd-highlight" 
						style="width:35px; height:35px; vertical-align: middle;">
						</div>

						<!-- Content -->
						<div class="width-256 margin-left-24 p-2 bd-highlight perk-content">
							<h2 class = "text-body">Non netus viverra.</h2>
							<br>
							<p>Lorem ipsum dolor sit amet,
								consectetur adipsicing elit. Nam at dictum nunc arcu id.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>

