<!DOCTYPE html>
<html>
	<head>
		<title>{{ .Site.Data.info.site_name }}</title>
		{{ partial "components/meta" (dict "path" "") }}
	</head>
	<body>
		<!-- Navigation -->
		{{ partial "components/nav" (dict "path" "") }}
		<header id="home-header" class="bg-dark">
			<div class="wrapper padding-bottom-192 padding-top-48 text-white position-relative">
				<a href="/">
					<img src="assets/logos/uxph_logo.svg" class="width-192 padding-y-48" id="header-logo" />
				</a>
				<h1 class="text-center margin-bottom-8 font-size-32">UX Philippines</h1>
				<p class="text-center subheading width-640 mx-auto">
					Host of the Philippines' largest community of individuals passionate about the realm of User Experience, and all things related.
					<br/><br/>
				</p>
			</div>
		</header>

		<section class="padding-top-64 padding-bottom-96" id="about-uxph-section">
			<div class="wrapper">
				<div id="current-event-overlap" class="bg-white border-radius-12 shadow padding-y-32 padding-x-32 w-100 d-flex space-between">
					{{ range .Site.Data.events.current }}
						<div style="background: url({{ .image_square_url }}); background-size: cover;" class="border-radius-12 margin-right-32 featured-image"></div>
						<div>
							<h3 class = "text-secondary margin-bottom-8">Our latest event</h3>
							<h2 class="text-dark">{{ .name }}</h2>
							<p class="text-black-50 margin-bottom-12">{{ .date }} | {{ .time }} | {{ .venue }}</p>
							<p class="text-dark margin-bottom-24 description">{{ .description }}</p>
							<div>
								{{ if ne .status "done" }}
									<a href="{{ .ticket_url }}" target="_blank">
										<button class="padding-x-24 padding-y-12 margin-right-8">Get Tickets</button>
									</a>
								{{ else }}
									<a href="{{ .blog_url }}">
										<button class="padding-x-24 padding-y-12 margin-right-8 rounded-sm">See Event Recap</button>
									</a>
								{{ end }}
								{{ if ne .become_speaker_url "#" }}
									<button class="unselected padding-x-24 padding-y-12">Become a Speaker</button>
								{{ end }}
							</div>
						</div>
					{{ end }}
				</div>
				<img src="assets/visuals/link-yellow.svg" class="visuals width-192" id="link-yellow-1" />
				<div class="margin-top-96">
					<h1 class="margin-bottom-16">About UXPH</h1>
					{{ range .Site.Data.info.about_us }}
						<p class="margin-bottom-24">{{ . }}</p>
					{{ end }}
					<a href="https://www.facebook.com/groups/uxphilippines/" target="_blank">
						<button class = "ux-blue" style = "border: 0px"><i class="fab fa-facebook-f "></i> Join the Facebook Group </button>
						<button class = "ux-blue" style = "border: 0px"><i class="fab fa-facebook-f"></i> Facebook Page</button>
					</a>
				</div>
			</div>
		</section>

		<section class="bg-light padding-y-96">
			<div class="wrapper">
				<div class="flex-wrapper d-flex justify-content-between align-items-center">
					<img src="assets/images/organizing-team-square.png" class="featured-image d-block margin-right-32" />
					<div>
						<h2 class="margin-bottom-16">Be a part of the organizing team</h2>
						<p>{{ .Site.Data.volunteers.blurb.description }}</p>
						<ul class="px-0 py-0 mx-0 my-0" id="volunteer-perks">
							{{ range .Site.Data.info.organizing_team }}
								<li>
									<i class="far fa-check-circle margin-right-16"></i>
									<span>{{ . }}</span>
								</li>
							{{ end }}
						</ul>
						<a href="/volunteers">
							<button class="margin-top-32">See Volunteer Opportunities</button>
						</a>
					</div>
				</div>
			</div>
		</section>

		<img src="assets/visuals/link-red.svg" class="visuals width-192" id="link-red-1" />

		<section class="padding-y-96">
			<div class="wrapper">
				<div class="flex-wrapper flex-wrapper-reverse d-flex justify-content-between align-items-center">
					<img src="assets/images/community-circle.png" class="featured-image d-block margin-left-32" />
					<div>
						<h2 class="margin-bottom-16">Be a community partner</h2>
						<p>{{ .Site.Data.info.community_partner }}</p>
						<a href="/sponsorships">
							<button class="margin-top-32">Learn More</button>
						</a>
					</div>
				</div>
			</div>
		</section>

		<img src="assets/visuals/link-blue.svg" class="visuals width-192" id="link-blue-1" />

		<section class="padding-y-96 bg-light">
			<div class="wrapper">
				<div class="d-flex justify-content-between">
					<div id="upcoming-events" class="flex-grow-1">
						<h2>Upcoming Events</h2>
						{{ range .Site.Data.events.upcoming }}
						<div class="margin-y-24">
							<h4><b> {{ .name }} </b></h4>
							<p class="text-secondary"> {{ .date }} </p>
						</div>
						{{ end }}

						<a href="/events">
							<button class="outline">View more</button>
						</a>
					</div>
					<div id="past-events" class="flex-grow-1">
						<h2>Past Events</h2>
						{{ range .Site.Data.events.past }}
							<div class="margin-y-24">
								<h4><b>{{ .name }}</b></h4>
								<p class="text-secondary">{{ .date }}</p>
							</div>
						{{ end }}
						<a href="/events">
							<button class="outline">View more</button>
						</a>
					</div>
				</div>
			</div>
		</section>

		<!-- Footer -->
		{{ partial "components/footer" (dict "path" "") }}
		<link rel="stylesheet" type="text/css" href="../css/homepage.css" />
		<script type="text/javascript">setActive(0);</script>
	</body>
</html>