<!DOCTYPE html>
<html>
	<head>
		<title>{{ .Site.Data.info.name }}</title>
		{{ partial "components/meta" (dict "path" "") }}
	</head>
	<body>
		{{ partial "components/nav" (dict "path" "../") }}
		<img src="assets/event-images/main-square.png" id="event-square" />
		<section class="dark hidden">
			<div class="wrapper">
				<img src="assets/event-images/main-banner.png" id="event-banner" />
				<br class="hide"/><br class="hide"/><br class="hide"/>
				<div id="city-wrapper">
					<a href="/cebu/">
						<div class="city-card">
							<img src="assets/event-images/cebu-square.png" class="featured-image" />
							<div class="details">
								<!--
								<a href="https://www.eventbrite.com/e/uxph-national-roadshow-cebu-tickets-66096104227" target="_blank">
									<button>Buy Tickets</button>
								</a>
								-->
								<a href="/cebu">
									<button class="hollow">See Event Details</button>
								</a>
							</div>
						</div>
					</a>
					<div class="city-card">
						<img src="assets/event-images/dvo_soon.png" class="featured-image" />
						<div class="details">
							<p>Coming in <span class="green">September!</span></p>
						</div>
					</div>

					<div class="city-card">
						<img src="assets/event-images/mnl_soon.png" class="featured-image" />
						<div class="details">
							<p>Coming in <span class="purple">October!</span></p>
						</div>
					</div>
				</div>
			</div>
			<br class="hide"/><br class="hide"/><br class="hide"/>
		</section>
		<section class="dark alternate hidden">
			<div class="wrapper">
				<div class="content-wrapper">
					<h1 class="section-heading centered">What is UXPH?</h1>
					<p class="centered">
						<b class="blue">User Experience Philippines (UXPH)</b> {{ .Site.Data.info.about }}
					</p>
					<br/>
					<p class="centered">
						{{ .Site.Data.info.theme }}
					</p>
					<br/>
					<a href="{{ .Site.Data.info.website }}" target="_blank">
						<button class="hollow centered">More about UXPH</button>
					</a>
					<br/>
				</div>
			</div>
		</section>
		<section class="dark true-dark hidden">
			<div class="wrapper">
				<h1 class="section-heading centered">Our Co-presenter</h1>
				<div class="sponsor-wrapper">
					{{ range .Site.Data.sponsors.copresenters }}
					<a href="{{ .url }}" target="_blank">
						<div>
							<img src="assets/{{ .logo }}" class="featured-image" />
							<h3 class="sponsor-name gray">{{ .name }}</h3>
						</div>
					</a>
					{{ end }}
				</div>

				<br/>

				<h1 class="section-heading centered">Sponsors</h1>
				<div class="sponsor-wrapper">
					{{ range .Site.Data.sponsors.sponsors }}
					{{ if eq .main "true" }}
					<a href="{{ .url }}" target="_blank">
						<div>
							<img src="assets/{{ .logo }}" class="featured-image" />
							<h3 class="sponsor-name gray">{{ .name }}</h3>
						</div>
					</a>
					{{ end }}
					{{ end }}
				</div>

				<br/>

				<h1 class="section-heading centered">Community Partners</h1>
				<div class="sponsor-wrapper">
					{{ range .Site.Data.sponsors.partners_all }}
					<a href="{{ .url }}" target="_blank">
						<div>
							<img src="assets/{{ .logo }}" class="featured-image" />
							<h3 class="sponsor-name gray">{{ .name }}</h3>
						</div>
					</a>
					{{ end }}
				</div>
			</div>
		</section>
		<section class="dark alternate hidden">
			<div class="wrapper">
				<h1 class="section-heading centered">Want to partner with us?</h1>
				<p class="centered large">If you’d like to partner with us for any or all of our events, please reach out to <span class="blue">info@uxph.org</span>.</p>
			</div>
		</section>
		{{ partial "components/footer" (dict "path" "") }}
	</body>
</html>
